Repository yonasBSD/iggy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, licenses-list, rust-version-sync, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy, go-fmt, go-mod-tidy, golangci-lint-foreign, golangci-lint-bdd, golangci-lint-examples, node-eslint, web-lint, java-gradle-check, csharp-dotnet-format

markdownlint:
  name: markdownlint
  entry: ./scripts/ci/markdownlint.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

licenses-list:
  name: licenses list
  entry: ./scripts/ci/licenses-list.sh
  args:
  - --fix
  language: system
  pass_filenames: false

rust-version-sync:
  name: rust version sync
  entry: ./scripts/ci/sync-rust-version.sh
  args:
  - --fix
  language: system
  pass_filenames: false

python-version-sync:
  name: python sdk version sync
  entry: ./scripts/ci/python-version-sync.sh
  args:
  - --fix
  language: system
  pass_filenames: false

taplo:
  name: taplo (TOML format)
  entry: ./scripts/ci/taplo.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: cargo sort --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --all-features
  - --all-targets
  - --manifest-path
  - Cargo.toml
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push

go-fmt:
  name: go fmt
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -d "$dir" ] && (cd "$dir" && gofmt -w -s .); done'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -f "$dir/go.mod" ] && (cd "$dir" && go mod tidy && git diff --exit-code go.mod go.sum); done'
  language: system
  pass_filenames: false

golangci-lint-foreign:
  name: golangci-lint (foreign/go)
  entry: bash -c 'cd foreign/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-bdd:
  name: golangci-lint (bdd/go)
  entry: bash -c 'cd bdd/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-examples:
  name: golangci-lint (examples/go)
  entry: bash -c 'cd examples/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

node-eslint:
  name: node eslint
  entry: bash -c 'for dir in foreign/node examples/node; do [ -f "$dir/package.json" ] && (cd "$dir" && npm run lint); done'
  language: system
  pass_filenames: false

web-lint:
  name: web lint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

java-gradle-check:
  name: java gradle check
  entry: bash -c 'for dir in foreign/java bdd/java examples/java; do [ -f "$dir/build.gradle.kts" ] && (cd "$dir" && ./gradlew check -x test); done'
  language: system
  pass_filenames: false
  stages:
  - pre-push

ci: split examples-suite into per-SDK example components (#2899)
  .github/config/components.yml
  .github/workflows/_detect.yml
  .github/workflows/_test_examples.yml
Due: none

ci: fix flaky keyring tests with eval and collection warmup (#2908)
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/post-merge.yml
Due: none

refactor(java): use generation-based auth for pooled channels (#2910)
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/IggyAuthenticator.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/IggyFrameEncoder.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncConnectionPoolAuthTest.java
Due: java-gradle-check

test(java): add async-specific tests for ConsumerGroupsTcpClient (#2890)
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncConsumerGroupsTest.java
Due: java-gradle-check

fix(consensus): prevent UB from untrusted bytes interpreted as enum discriminants in consensus headers (#2887)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/common/src/types/consensus/header.rs
  core/common/src/types/consensus/message.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/stm/mod.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/packet.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(csharp): add TCP/TLS producer and consumer examples (#2821)
  examples/csharp/Iggy_SDK.Examples.sln
  examples/csharp/README.md
  examples/csharp/src/TcpTls/Iggy_SDK.Examples.TcpTls.Consumer/Iggy_SDK.Examples.TcpTls.Consumer.csproj
  examples/csharp/src/TcpTls/Iggy_SDK.Examples.TcpTls.Consumer/Program.cs
  examples/csharp/src/TcpTls/Iggy_SDK.Examples.TcpTls.Producer/Iggy_SDK.Examples.TcpTls.Producer.csproj
  examples/csharp/src/TcpTls/Iggy_SDK.Examples.TcpTls.Producer/Program.cs
  scripts/run-csharp-examples-from-readme.sh
Due: markdownlint, csharp-dotnet-format

fix(js): use localhost instead of disabling hostname verification in … (#2913)
  codecov.yml
  foreign/node/src/e2e/tls.system.e2e.ts
Due: node-eslint

feat(java): add TCP/TLS integration tests and examples (#2823)
  .github/actions/java-gradle/pre-merge/action.yml
  examples/java/README.md
  examples/java/build.gradle.kts
  examples/java/src/main/java/org/apache/iggy/examples/tcptls/consumer/TcpTlsConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/tcptls/producer/TcpTlsProducer.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/TlsConnectionTest.java
  scripts/run-java-examples-from-readme.sh
Due: markdownlint, java-gradle-check

feat(bdd): support -race option for Go BDD tests (#2914)
  .github/config/components.yml
  .github/workflows/_test_bdd.yml
  bdd/docker-compose.yml
  bdd/go/Dockerfile
  scripts/run-bdd-tests.sh
Due: none

feat(java): Add unit tests for message package in Java SDK (#2918)
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/BigIntegerMessageIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/BytesMessageIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderKeyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderKindTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderValueTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/MessageStateTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/MessageTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/PartitioningKindTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/PartitioningTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/PollingKindTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/PollingStrategyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/UuidMessageIdTest.java
Due: java-gradle-check

refactor(java): replace JUnit assertions with AssertJ across all tests (#2929)
  foreign/java/README.md
  foreign/java/external-processors/iggy-connector-pinot/src/test/java/org/apache/iggy/connector/pinot/config/IggyStreamConfigTest.java
  foreign/java/external-processors/iggy-connector-pinot/src/test/java/org/apache/iggy/connector/pinot/consumer/IggyMessageBatchTest.java
  foreign/java/external-processors/iggy-connector-pinot/src/test/java/org/apache/iggy/connector/pinot/consumer/IggyStreamPartitionMsgOffsetTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncConsumerGroupsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilderTest.java
Due: markdownlint, java-gradle-check

feat(go): add TLS integration tests and examples (#2898)
  .github/actions/go/pre-merge/action.yml
  .github/actions/utils/setup-go-with-cache/action.yml
  bdd/go/Dockerfile
  bdd/go/go.mod
  bdd/go/go.sum
  examples/go/getting-started/consumer/main.go
  examples/go/getting-started/producer/main.go
  examples/go/go.mod
  examples/go/go.sum
  foreign/go/client/tcp/tcp_core.go
  foreign/go/go.mod
  foreign/go/go.sum
  foreign/go/tests/tls_test.go
  scripts/run-go-examples-from-readme.sh
Due: go-fmt, go-mod-tidy, golangci-lint-foreign, golangci-lint-examples

refactor(csharp): implement SDK version handling in login requests (#2937)
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/csharp/Iggy_SDK/Utils/SdkVersion.cs
  foreign/csharp/Iggy_SDK_Tests/UtilityTests/SdkVersionTests.cs
Due: csharp-dotnet-format

ci: unify run-*-examples-from-readme.sh into single entrypoint with TLS support (#2920)
  .github/config/components.yml
  .github/workflows/_test_examples.yml
  examples/csharp/README.md
  examples/go/README.md
  examples/node/package.json
  examples/node/test-examples.sh
  examples/python/README.md
  examples/rust/README.md
  scripts/run-csharp-examples-from-readme.sh
  scripts/run-examples-from-readme.sh
  scripts/run-go-examples-from-readme.sh
  scripts/run-java-examples-from-readme.sh
  scripts/run-node-examples-from-readme.sh
  scripts/run-python-examples-from-readme.sh
  scripts/run-rust-examples-from-readme.sh
  scripts/utils.sh
Due: markdownlint

feat(java): Increase test coverage (#2939)
  foreign/java/java-sdk/src/main/java/org/apache/iggy/topic/CompressionAlgorithm.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/config/RetryPolicyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/consumergroup/ConsumerGroupDetailsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/consumergroup/ConsumerTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyAuthenticationExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyAuthorizationExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyClientExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyConflictExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyConnectionClosedExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyConnectionExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyEmptyResponseExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyErrorCodeTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyInvalidArgumentExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyMalformedResponseExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyMissingCredentialsExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyNotConnectedExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyOperationNotSupportedExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyProtocolExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyResourceNotFoundExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyServerExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyTimeoutExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyTlsExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyValidationExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/BaseIdentifierTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/ConsumerIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/IdentifierTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/StreamIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/TopicIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/UserIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/BytesDeserializerTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/stream/StreamDetailsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/system/ClientInfoDetailsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/topic/CompressionAlgorithmTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/topic/TopicDetailsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/user/UserInfoDetailsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/user/UserStatusTest.java
Due: java-gradle-check

feat(cpp): part of low-level bindings, their tests, and e2e CI config (#2852)
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/config/components.yml
  foreign/cpp/BUILD.bazel
  foreign/cpp/Cargo.lock
  foreign/cpp/Cargo.toml
  foreign/cpp/README.md
  foreign/cpp/src/client.rs
  foreign/cpp/src/identifier.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/stream.rs
  foreign/cpp/src/topic.rs
  foreign/cpp/tests/client/low_level_e2e.cpp
  foreign/cpp/tests/common/test_helpers.hpp
  foreign/cpp/tests/stream/low_level_e2e.cpp
  foreign/cpp/tests/topic/low_level_e2e.cpp
  foreign/cpp/tests/unit_tests.cpp
Due: markdownlint, taplo, cargo-fmt, cargo-sort, cargo-clippy

fix(cpp): Remove `--locked` option and delete cargo.lock file (#2949)
  foreign/cpp/.gitignore
  foreign/cpp/BUILD.bazel
  foreign/cpp/Cargo.lock
Due: none

refactor(journal): refactor partition journal utilize storage trait (#2909)
  core/journal/src/lib.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/simulator/src/deps.rs
Due: cargo-fmt, cargo-clippy

refactor(java): unify blocking TCP client as wrapper over async client (#2947)
  bdd/java/src/test/java/org/apache/iggy/bdd/BasicMessagingSteps.java
  examples/java/src/main/java/org/apache/iggy/examples/gettingstarted/consumer/GettingStartedConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/gettingstarted/producer/GettingStartedProducer.java
  examples/java/src/main/java/org/apache/iggy/examples/messageenvelope/consumer/MessageEnvelopeConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/messageenvelope/producer/MessageEnvelopeProducer.java
  examples/java/src/main/java/org/apache/iggy/examples/messageheaders/consumer/MessageHeadersConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/messageheaders/producer/MessageHeadersProducer.java
  examples/java/src/main/java/org/apache/iggy/examples/multitenant/consumer/MultiTenantConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/multitenant/producer/MultiTenantProducer.java
  examples/java/src/main/java/org/apache/iggy/examples/sinkdataproducer/SinkDataProducer.java
  examples/java/src/main/java/org/apache/iggy/examples/streambuilder/StreamBasic.java
  examples/java/src/main/java/org/apache/iggy/examples/tcptls/consumer/TcpTlsConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/tcptls/producer/TcpTlsProducer.java
  foreign/java/BUILD_AND_TEST.md
  foreign/java/gradle/libs.versions.toml
  foreign/java/java-sdk/build.gradle.kts
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/ConsumerGroupsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/ConsumerOffsetsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/FutureUtil.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/IggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/InternalTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/MessagesTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/PersonalAccessTokensTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/SystemTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/UsersTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/package-info.java
Due: markdownlint, taplo, java-gradle-check

docs(connectors): align MongoDB sink duplicate-key semantics (#2941)
  core/connectors/sinks/mongodb_sink/README.md
  core/integration/tests/connectors/mongodb/mongodb_sink.rs
Due: markdownlint, cargo-fmt, cargo-clippy

refactor(java): harden client lifecycle and streamline test suite (#2959)
  bdd/java/src/test/java/org/apache/iggy/bdd/BasicMessagingSteps.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/SystemTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/IggyHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/IggyHttpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/MessagesHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilder.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncClientIntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncConsumerGroupsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncPollMessageTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/UsersTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/ConsumerGroupsClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/MessagesClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/SystemClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/UsersClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilderTest.java
Due: java-gradle-check

feat(rust): add wire protocol codec and types to binary_protocol crate (#2946)
  .typos.toml
  Cargo.lock
  core/binary_protocol/Cargo.toml
  core/binary_protocol/src/codec.rs
  core/binary_protocol/src/codes.rs
  core/binary_protocol/src/consensus/command.rs
  core/binary_protocol/src/consensus/error.rs
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/message.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/consensus/operation.rs
  core/binary_protocol/src/error.rs
  core/binary_protocol/src/frame.rs
  core/binary_protocol/src/identifier.rs
  core/binary_protocol/src/lib.rs
  core/binary_protocol/src/requests/mod.rs
  core/binary_protocol/src/requests/streams/create_stream.rs
  core/binary_protocol/src/requests/streams/delete_stream.rs
  core/binary_protocol/src/requests/streams/get_stream.rs
  core/binary_protocol/src/requests/streams/get_streams.rs
  core/binary_protocol/src/requests/streams/mod.rs
  core/binary_protocol/src/requests/streams/purge_stream.rs
  core/binary_protocol/src/requests/streams/update_stream.rs
  core/binary_protocol/src/responses/mod.rs
  core/binary_protocol/src/responses/streams/create_stream.rs
  core/binary_protocol/src/responses/streams/delete_stream.rs
  core/binary_protocol/src/responses/streams/get_stream.rs
  core/binary_protocol/src/responses/streams/get_streams.rs
  core/binary_protocol/src/responses/streams/mod.rs
  core/binary_protocol/src/responses/streams/purge_stream.rs
  core/binary_protocol/src/responses/streams/stream_response.rs
  core/binary_protocol/src/responses/streams/update_stream.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(server): add threads count and disk space to sysinfo stats (#2917)
  core/cli/src/commands/binary_system/stats.rs
  core/common/src/traits/binary_mapper.rs
  core/common/src/types/stats/mod.rs
  core/integration/tests/cli/system/test_stats_command.rs
  core/server/src/binary/mapper.rs
  core/server/src/shard/system/stats.rs
  core/server/src/shard/tasks/periodic/sysinfo_printer.rs
Due: cargo-fmt, cargo-clippy

refactor(go): refactor WithTLS (#2957)
  examples/go/getting-started/consumer/main.go
  examples/go/getting-started/producer/main.go
  foreign/go/client/tcp/tcp_core.go
  foreign/go/tests/tls_test.go
Due: go-fmt, go-mod-tidy, golangci-lint-foreign, golangci-lint-examples

fix(ci): prevent flaky keyring tests by keeping daemons alive (#2963)
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/post-merge.yml
Due: none

fix(integration): reduce flakiness in connector integration tests (#2966)
  core/integration/src/harness/handle/connectors_runtime.rs
  core/integration/src/harness/handle/mcp.rs
  core/integration/tests/connectors/mongodb/mod.rs
Due: cargo-fmt, cargo-clippy

docs(go): solve typo in DeleteStream method. (#2972)
  foreign/go/contracts/client.go
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

fix(sdk): fix broken Windows build for SDK and CLI (#2971)
  .github/actions/rust/pre-merge/action.yml
  .github/config/components.yml
  .github/workflows/_test.yml
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/binary_protocol/Cargo.toml
  core/cli/Cargo.toml
  core/common/Cargo.toml
  core/common/src/types/segment_storage/messages_reader.rs
  core/sdk/Cargo.toml
  foreign/python/Cargo.toml
Due: markdownlint, licenses-list, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(bdd): add --coverage flag to run-bdd-tests.sh for all SDKs (#2950)
  .github/config/components.yml
  bdd/docker-compose.coverage.yml
  bdd/java/build.gradle.kts
  bdd/python/pyproject.toml
  bdd/python/uv.lock
  foreign/csharp/Iggy_SDK.Tests.BDD/Iggy_SDK.Tests.BDD.csproj
  scripts/run-bdd-tests.sh
Due: taplo, java-gradle-check

feat(partitions): add poll_messages support to simulator (#2960)
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/simulator/src/client.rs
  core/simulator/src/lib.rs
  core/simulator/src/main.rs
Due: cargo-fmt, cargo-clippy

fix(web): submit login form on Enter instead of toggling password visibility (#2970)
  web/src/lib/components/PasswordInput.svelte
Due: web-lint

feat(java): add new stats fields to match server sysinfo updates (#2969)
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/CacheMetricsKeyMixin.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/ObjectMapperFactory.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesDeserializer.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/system/CacheMetrics.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/system/CacheMetricsKey.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/system/Stats.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/SystemClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/ObjectMapperTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/BytesDeserializerTest.java
Due: java-gradle-check

test(server): add regression test to ensure secrets are never persisted as plaintext (#2945)
  core/integration/src/harness/handle/server.rs
  core/integration/tests/data_integrity/mod.rs
  core/integration/tests/data_integrity/verify_no_plaintext_credentials_on_disk.rs
Due: cargo-fmt, cargo-clippy

feat(security): generate random JWT secrets when not configured (#2974)
  Cargo.lock
  DEPENDENCIES.md
  core/server/Cargo.toml
  core/server/config.toml
  core/server/src/http/http_server.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(python): bump Python SDK to 0.7.3-dev1 (#2989)
  foreign/python/Cargo.toml
  foreign/python/pyproject.toml
Due: python-version-sync, taplo, cargo-sort

ci: fix ASF github actions allowlist violations (#2993)
  .github/actions/python-maturin/pre-merge/action.yml
  .github/actions/utils/docker-buildx/action.yml
  .github/workflows/_test.yml
  .github/workflows/_test_examples.yml
  .github/workflows/post-merge.yml
  .github/workflows/publish.yml
Due: none

chore(ci): add uv lock check to pre-commit hooks (#2996)
  .pre-commit-config.yaml
  bdd/python/uv.lock
  examples/python/uv.lock
  foreign/python/uv.lock
  scripts/ci/uv-lock-check.sh
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  licenses-list: any of: ^Cargo\.lock$
  rust-version-sync: any of: ^rust-toolchain\.toml$
  python-version-sync: any of: ^foreign/python/(Cargo\.toml|pyproject\.toml)$
  taplo: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: (^|/)Cargo\.toml$
  cargo-clippy: any of: \.rs$
  go-fmt: any of: ^(foreign|bdd|examples)/go/.*\.go$
  go-mod-tidy: any of: ^(foreign|bdd|examples)/go/(.*\.go|go\.mod|go\.sum)$
  golangci-lint-foreign: any of: ^foreign/go/.*\.go$
  golangci-lint-bdd: any of: ^bdd/go/.*\.go$
  golangci-lint-examples: any of: ^examples/go/.*\.go$
  node-eslint: any of: ^(foreign|examples)/node/.*\.ts$
  web-lint: any of: ^web/.*\.(ts|js|svelte)$
  java-gradle-check: any of: ^(foreign|bdd|examples)/java/.*\.(java|kt|kts)$
  csharp-dotnet-format: any of: ^(foreign|examples)/csharp/.*\.cs$
