Repository yonasBSD/iggy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, licenses-list, rust-version-sync, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy, go-fmt, go-mod-tidy, golangci-lint-foreign, golangci-lint-bdd, golangci-lint-examples, node-eslint, web-lint, java-gradle-check, csharp-dotnet-format

markdownlint:
  name: markdownlint
  entry: ./scripts/ci/markdownlint.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

licenses-list:
  name: licenses list
  entry: ./scripts/ci/licenses-list.sh
  args:
  - --fix
  language: system
  pass_filenames: false

rust-version-sync:
  name: rust version sync
  entry: ./scripts/ci/sync-rust-version.sh
  args:
  - --fix
  language: system
  pass_filenames: false

python-version-sync:
  name: python sdk version sync
  entry: ./scripts/ci/python-version-sync.sh
  args:
  - --fix
  language: system
  pass_filenames: false

taplo:
  name: taplo (TOML format)
  entry: ./scripts/ci/taplo.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: cargo sort --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --all-features
  - --all-targets
  - --manifest-path
  - Cargo.toml
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push

go-fmt:
  name: go fmt
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -d "$dir" ] && (cd "$dir" && gofmt -w -s .); done'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -f "$dir/go.mod" ] && (cd "$dir" && go mod tidy && git diff --exit-code go.mod go.sum); done'
  language: system
  pass_filenames: false

golangci-lint-foreign:
  name: golangci-lint (foreign/go)
  entry: bash -c 'cd foreign/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-bdd:
  name: golangci-lint (bdd/go)
  entry: bash -c 'cd bdd/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-examples:
  name: golangci-lint (examples/go)
  entry: bash -c 'cd examples/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

node-eslint:
  name: node eslint
  entry: bash -c 'for dir in foreign/node examples/node; do [ -f "$dir/package.json" ] && (cd "$dir" && npm run lint); done'
  language: system
  pass_filenames: false

web-lint:
  name: web lint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

java-gradle-check:
  name: java gradle check
  entry: bash -c 'for dir in foreign/java bdd/java examples/java; do [ -f "$dir/build.gradle.kts" ] && (cd "$dir" && ./gradlew check -x test); done'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(server-ng): create iggy-server-ng binary crate (#3053)
  .github/workflows/_common.yml
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/server-ng/.dockerignore
  core/server-ng/Cargo.toml
  core/server-ng/Dockerfile
  core/server-ng/build.rs
  core/server-ng/config.toml
  core/server-ng/server-ng.http
  core/server-ng/src/lib.rs
  core/server-ng/src/main.rs
  justfile
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(deps): update workspace dependencies (#3072)
  .typos.toml
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/binary_protocol/Cargo.toml
  core/iobuf/Cargo.toml
  core/partitions/Cargo.toml
  scripts/extract-version.sh
Due: markdownlint, licenses-list, taplo, cargo-sort

chore(repo): bump all components minor version (#3073)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  bdd/python/uv.lock
  core/ai/mcp/Cargo.toml
  core/bench/Cargo.toml
  core/bench/dashboard/frontend/Cargo.toml
  core/bench/dashboard/server/Cargo.toml
  core/bench/report/Cargo.toml
  core/binary_protocol/Cargo.toml
  core/cli/Cargo.toml
  core/common/Cargo.toml
  core/connectors/runtime/Cargo.toml
  core/connectors/sdk/Cargo.toml
  core/connectors/sinks/elasticsearch_sink/Cargo.toml
  core/connectors/sinks/http_sink/Cargo.toml
  core/connectors/sinks/iceberg_sink/Cargo.toml
  core/connectors/sinks/influxdb_sink/Cargo.toml
  core/connectors/sinks/mongodb_sink/Cargo.toml
  core/connectors/sinks/postgres_sink/Cargo.toml
  core/connectors/sinks/quickwit_sink/Cargo.toml
  core/connectors/sinks/stdout_sink/Cargo.toml
  core/connectors/sources/elasticsearch_source/Cargo.toml
  core/connectors/sources/influxdb_source/Cargo.toml
  core/connectors/sources/postgres_source/Cargo.toml
  core/connectors/sources/random_source/Cargo.toml
  core/sdk/Cargo.toml
  core/server-ng/Cargo.toml
  core/server/Cargo.toml
  examples/python/uv.lock
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/go/contracts/version.go
  foreign/java/gradle.properties
  foreign/node/package.json
  foreign/python/Cargo.toml
  foreign/python/pyproject.toml
  foreign/python/uv.lock
  scripts/bump-version.sh
Due: markdownlint, licenses-list, python-version-sync, taplo, cargo-sort, go-fmt, go-mod-tidy, golangci-lint-foreign

fix(test): Fix Iceberg container readiness check to use HTTP health check (#3077)
  Cargo.lock
  Cargo.toml
  core/integration/tests/connectors/fixtures/iceberg/container.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

fix(test): Fix Elasticsearch container readiness check to use HTTP health check (#3079)
  core/integration/tests/connectors/elasticsearch/elasticsearch_source.rs
  core/integration/tests/connectors/fixtures/elasticsearch/container.rs
  core/integration/tests/connectors/fixtures/elasticsearch/sink.rs
  core/integration/tests/connectors/fixtures/elasticsearch/source.rs
Due: cargo-fmt, cargo-clippy

fix(sdk): allow hostnames in server address configuration (#2923)
  core/common/src/lib.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config_builder.rs
  core/common/src/types/configuration/websocket_config/websocket_client_config_builder.rs
  core/common/src/utils/mod.rs
  core/common/src/utils/net.rs
  examples/rust/src/getting-started/consumer/main.rs
  examples/rust/src/getting-started/producer/main.rs
Due: cargo-fmt, cargo-clippy

chore(deps): bump hwlocality and passterm, fix non-tty password read (#3084)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/cli/src/commands/binary_users/change_password.rs
  core/cli/src/credentials.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(go): delete redundant script run_tcp_e2e.sh (#3065)
  foreign/go/scripts/run_tcp_e2e.sh
Due: none

feat(test): add shared_server to iggy_harness for server reuse across tests (#3085)
  .config/nextest.toml
  Cargo.lock
  core/harness_derive/src/attrs.rs
  core/harness_derive/src/codegen.rs
  core/integration/Cargo.toml
  core/integration/src/harness/handle/mod.rs
  core/integration/src/harness/mod.rs
  core/integration/src/harness/orchestrator/builder.rs
  core/integration/src/harness/orchestrator/harness.rs
  core/integration/src/harness/seeds.rs
  core/integration/src/harness/shared.rs
  core/integration/src/lib.rs
  core/integration/tests/connectors/api/endpoints.rs
  core/integration/tests/connectors/elasticsearch/elasticsearch_sink.rs
  core/integration/tests/connectors/elasticsearch/elasticsearch_source.rs
  core/integration/tests/connectors/http/http_sink.rs
  core/integration/tests/connectors/http_config_provider/direct_responses.rs
  core/integration/tests/connectors/http_config_provider/wrapped_responses.rs
  core/integration/tests/connectors/iceberg/iceberg_sink.rs
  core/integration/tests/connectors/influxdb/influxdb_sink.rs
  core/integration/tests/connectors/influxdb/influxdb_sink_formats.rs
  core/integration/tests/connectors/influxdb/influxdb_source.rs
  core/integration/tests/connectors/influxdb/influxdb_source_formats.rs
  core/integration/tests/connectors/mongodb/mongodb_sink.rs
  core/integration/tests/connectors/postgres/postgres_sink.rs
  core/integration/tests/connectors/postgres/postgres_source.rs
  core/integration/tests/connectors/postgres/restart.rs
  core/integration/tests/connectors/quickwit/quickwit_sink.rs
  core/integration/tests/connectors/random/random_source.rs
  core/integration/tests/connectors/stdout/stdout_sink.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(consensus): add ClientTable with WAL-backed commit path and view-change safety (#3023)
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/message.rs
  core/consensus/src/client_table.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/namespaced_pipeline.rs
  core/consensus/src/observability.rs
  core/consensus/src/plane_helpers.rs
  core/iobuf/src/lib.rs
  core/journal/src/lib.rs
  core/journal/src/prepare_journal.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/recovery.rs
  core/partitions/src/iggy_partitions.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/lib.rs
  core/simulator/src/replica.rs
Due: cargo-fmt, cargo-clippy

revert(test): remove shared_server, add nextest CI retries (#3088)
  .config/nextest.toml
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/coverage-baseline.yml
  Cargo.lock
  core/harness_derive/src/attrs.rs
  core/harness_derive/src/codegen.rs
  core/integration/Cargo.toml
  core/integration/src/harness/handle/mod.rs
  core/integration/src/harness/mod.rs
  core/integration/src/harness/orchestrator/builder.rs
  core/integration/src/harness/orchestrator/harness.rs
  core/integration/src/harness/seeds.rs
  core/integration/src/harness/shared.rs
  core/integration/src/lib.rs
  core/integration/tests/connectors/api/endpoints.rs
  core/integration/tests/connectors/elasticsearch/elasticsearch_sink.rs
  core/integration/tests/connectors/elasticsearch/elasticsearch_source.rs
  core/integration/tests/connectors/http/http_sink.rs
  core/integration/tests/connectors/http_config_provider/direct_responses.rs
  core/integration/tests/connectors/http_config_provider/wrapped_responses.rs
  core/integration/tests/connectors/iceberg/iceberg_sink.rs
  core/integration/tests/connectors/influxdb/influxdb_sink.rs
  core/integration/tests/connectors/influxdb/influxdb_sink_formats.rs
  core/integration/tests/connectors/influxdb/influxdb_source.rs
  core/integration/tests/connectors/influxdb/influxdb_source_formats.rs
  core/integration/tests/connectors/mongodb/mongodb_sink.rs
  core/integration/tests/connectors/postgres/postgres_sink.rs
  core/integration/tests/connectors/postgres/postgres_source.rs
  core/integration/tests/connectors/postgres/restart.rs
  core/integration/tests/connectors/quickwit/quickwit_sink.rs
  core/integration/tests/connectors/random/random_source.rs
  core/integration/tests/connectors/stdout/stdout_sink.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(security): fix Dependabot security vulnerabilities (#3087)
  bdd/go/go.mod
  bdd/go/go.sum
  examples/go/go.mod
  examples/go/go.sum
  foreign/go/go.mod
  foreign/go/go.sum
  web/package-lock.json
  web/package.json
Due: go-mod-tidy

feat(server): support A2A protocol (#2656)
  .typos.toml
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/common/src/error/iggy_error.rs
  core/common/src/types/configuration/http_config/http_client_config.rs
  core/common/src/types/configuration/http_config/http_client_config_builder.rs
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/http.rs
  core/harness_derive/src/attrs.rs
  core/harness_derive/src/codegen.rs
  core/integration/Cargo.toml
  core/integration/src/harness/config/jwks.rs
  core/integration/src/harness/config/mod.rs
  core/integration/src/harness/handle/server.rs
  core/integration/src/harness/mod.rs
  core/integration/src/harness/orchestrator/builder.rs
  core/integration/src/harness/orchestrator/harness.rs
  core/integration/tests/server/a2a_jwt/config.toml
  core/integration/tests/server/a2a_jwt/jwt_tests.rs
  core/integration/tests/server/a2a_jwt/mod.rs
  core/integration/tests/server/a2a_jwt/wiremock/__files/jwks.json
  core/integration/tests/server/a2a_jwt/wiremock/mappings/jwks.json
  core/sdk/Cargo.toml
  core/sdk/src/client_provider.rs
  core/sdk/src/clients/client_builder.rs
  core/sdk/src/clients/consumer.rs
  core/sdk/src/http/http_client.rs
  core/server/Cargo.toml
  core/server/config.toml
  core/server/src/http/jwt/json_web_token.rs
  core/server/src/http/jwt/jwks.rs
  core/server/src/http/jwt/jwt_manager.rs
  core/server/src/http/jwt/middleware.rs
  core/server/src/http/jwt/mod.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(consensus): wire up view change protocol in simulator (#3092)
  core/binary_protocol/src/consensus/message.rs
  core/consensus/src/impls.rs
  core/consensus/src/observability.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partitions.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/lib.rs
  core/simulator/src/replica.rs
Due: cargo-fmt, cargo-clippy

fix(connectors): support default credential provider chain for iceberg sink (#3045)
  core/connectors/sinks/iceberg_sink/src/lib.rs
  core/connectors/sinks/iceberg_sink/src/props.rs
  core/connectors/sinks/iceberg_sink/src/sink.rs
  core/integration/tests/connectors/fixtures/iceberg/container.rs
  core/integration/tests/connectors/fixtures/iceberg/mod.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/iceberg/default_credentials_config/config.toml
  core/integration/tests/connectors/iceberg/iceberg_sink.rs
  core/integration/tests/connectors/iceberg/sink_default_credentials.toml
Due: taplo, cargo-fmt, cargo-clippy

feat(bench): prettier table output (#3090)
  Cargo.lock
  Cargo.toml
  core/bench/Cargo.toml
  core/bench/report/Cargo.toml
  core/bench/report/src/prints.rs
  core/bench/report/src/utils.rs
  core/bench/src/actors/consumer/benchmark_consumer.rs
  core/bench/src/actors/consumer/client/interface.rs
  core/bench/src/actors/consumer/typed_benchmark_consumer.rs
  core/bench/src/actors/producer/benchmark_producer.rs
  core/bench/src/actors/producer/client/interface.rs
  core/bench/src/actors/producer/typed_benchmark_producer.rs
  core/bench/src/actors/producing_consumer/benchmark_producing_consumer.rs
  core/bench/src/actors/producing_consumer/typed_benchmark_producing_consumer.rs
  core/bench/src/args/common.rs
  core/bench/src/benchmarks/common.rs
  core/bench/src/runner.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

fix(ci): fix comfy table problem when building WASM targets (#3107)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/bench/report/src/prints.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore: add third-party attribution for bundled Gradle Wrapper (#3109)
  LICENSE
  foreign/java/LICENSE
Due: none

feat(ci): dependency-DAG-based test scoping for Rust CI (#3095)
  .config/rail.toml
  .github/actions/rust/pre-merge/action.yml
  .github/config/components.yml
Due: taplo

fix(sdk): inline iobuf into iggy_binary_protocol (#3110)
  .github/actions/rust/pre-merge/action.yml
  .github/config/components.yml
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/binary_protocol/Cargo.toml
  core/binary_protocol/src/consensus/iobuf.rs
  core/binary_protocol/src/consensus/message.rs
  core/binary_protocol/src/consensus/mod.rs
  core/common/Cargo.toml
  core/common/src/lib.rs
  core/common/src/types/send_messages2.rs
  core/consensus/Cargo.toml
  core/consensus/src/plane_helpers.rs
  core/iobuf/Cargo.toml
  core/journal/Cargo.toml
  core/journal/src/prepare_journal.rs
  core/metadata/Cargo.toml
  core/metadata/src/impls/recovery.rs
  core/partitions/Cargo.toml
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/partitions/src/messages_writer.rs
  core/partitions/src/types.rs
  core/simulator/Cargo.toml
  core/simulator/src/client.rs
  core/simulator/src/deps.rs
  core/simulator/src/packet.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

fix(ci): include binary packages in DAG-scoped builds for CARGO_BIN_EXE support (#3113)
  .github/actions/rust/pre-merge/action.yml
Due: none

fix(ci): fix DAG-scoped builds for connector plugins and multi-crate PRs (#3120)
  .github/actions/rust/pre-merge/action.yml
Due: none

chore(go): update sdk dependencies (#3115)
  bdd/go/go.mod
  bdd/go/go.sum
  examples/go/go.mod
  examples/go/go.sum
  foreign/go/go.mod
  foreign/go/go.sum
Due: go-mod-tidy

fix(go): update stats field and its deserialization logic to align with rust SDK (#3032)
  examples/go/go.sum
  foreign/go/binary_serialization/stats_serializer.go
  foreign/go/binary_serialization/stats_serializer_test.go
  foreign/go/client/tcp/tcp_utilities.go
  foreign/go/contracts/stats.go
  foreign/go/contracts/stats_test.go
  foreign/go/go.mod
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

fix(test): replace log-based container readiness checks with HTTP healthcheck endpoints (#3093)
  core/integration/tests/connectors/fixtures/iceberg/container.rs
  core/integration/tests/connectors/fixtures/influxdb/container.rs
  core/integration/tests/connectors/fixtures/quickwit/container.rs
Due: cargo-fmt, cargo-clippy

chore: bump iggy-web-ui to 0.3.0 (#3121)
  web/package-lock.json
  web/package.json
Due: none

feat(helm): add helm-docs, yamllint, and helmfmt for chart quality (#3070)
  .github/actions/utils/setup-helm-tools/action.yml
  .github/workflows/_test.yml
  .pre-commit-config.yaml
  helm/charts/iggy/.yamllint.yml
  helm/charts/iggy/README.md.gotmpl
  helm/charts/iggy/templates/_helpers.tpl
  helm/charts/iggy/templates/deployment.yaml
  helm/charts/iggy/templates/hpa.yaml
  helm/charts/iggy/templates/iggy-pvc.yaml
  helm/charts/iggy/templates/ingress.yaml
  helm/charts/iggy/templates/service.yaml
  helm/charts/iggy/templates/servicemonitor.yaml
  helm/charts/iggy/values.yaml
  scripts/ci/markdownlint.sh
  scripts/ci/setup-helm-tools.sh
  scripts/ci/test-helm.sh
Due: none

deps(python): bump pytest minimum to 9.0.3 (#3122)
  bdd/python/pyproject.toml
  bdd/python/uv.lock
  examples/python/uv.lock
  foreign/python/pyproject.toml
  foreign/python/uv.lock
Due: python-version-sync, taplo

fix(docs): remove unsupported verbosity in benchmark command examples (#3114)
  README.md
Due: markdownlint

fix(cli): Ensure home directory exists when writing contexts (#3069)
  core/cli/src/commands/binary_context/common.rs
Due: cargo-fmt, cargo-clippy

chore(deps): update workspace dependencies (#3123)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/ai/mcp/src/service/mod.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

fix(ci): gate release tags on proven registry availability (#3124)
  .github/actions/rust/post-merge/action.yml
  .github/actions/utils/create-git-tag/action.yml
  .github/actions/utils/wait-for-crate/action.yml
  .github/actions/utils/wait-for-url/action.yml
  .github/workflows/_publish_rust_crates.yml
  .github/workflows/publish.yml
  scripts/bump-version.sh
  scripts/extract-version.sh
Due: none

fix(go): correct buffer size for CreateUser and UpdatePermissions serialization (#3097)
  foreign/go/internal/command/user.go
  foreign/go/internal/command/user_test.go
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

fix(ci): harden publish pipeline (#3125)
  .github/actions/rust/post-merge/action.yml
  .github/actions/utils/create-git-tag/action.yml
  .github/actions/utils/wait-for-crate/action.yml
  .github/actions/utils/wait-for-url/action.yml
  .github/workflows/_publish_rust_crates.yml
  .github/workflows/post-merge.yml
  .github/workflows/publish.yml
  scripts/extract-version.sh
Due: none

chore(sdk): update rust client to 0.10.0 (#3126)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/sdk/Cargo.toml
Due: markdownlint, licenses-list, taplo, cargo-sort

feat(partitions): add consensus per partition and extra (#3071)
  core/binary_protocol/src/consensus/operation.rs
  core/binary_protocol/src/dispatch.rs
  core/consensus/src/lib.rs
  core/consensus/src/namespaced_pipeline.rs
  core/consensus/src/observability.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/types.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/client.rs
  core/simulator/src/lib.rs
  core/simulator/src/replica.rs
Due: cargo-fmt, cargo-clippy

feat(consensus): add session registration protocol with combined login+register (#3108)
  Cargo.lock
  core/binary_protocol/Cargo.toml
  core/binary_protocol/src/codes.rs
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/operation.rs
  core/binary_protocol/src/dispatch.rs
  core/binary_protocol/src/framing.rs
  core/binary_protocol/src/lib.rs
  core/binary_protocol/src/requests/users/login_register.rs
  core/binary_protocol/src/requests/users/login_register_with_pat.rs
  core/binary_protocol/src/requests/users/mod.rs
  core/binary_protocol/src/responses/users/login_register.rs
  core/binary_protocol/src/responses/users/mod.rs
  core/consensus/src/client_table.rs
  core/consensus/src/observability.rs
  core/consensus/src/plane_helpers.rs
  core/integration/tests/server/scenarios/authentication_scenario.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partition.rs
  core/sdk/src/lib.rs
  core/sdk/src/session.rs
  core/server-ng/src/lib.rs
  core/server-ng/src/login_register.rs
  core/server-ng/src/session_manager.rs
  core/simulator/src/client.rs
  core/simulator/src/lib.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci: prepend ~/.cargo/bin to PATH after rustup show (#3251)
  .github/actions/utils/setup-rust-with-cache/action.yml
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  licenses-list: any of: ^Cargo\.lock$
  rust-version-sync: any of: ^rust-toolchain\.toml$
  python-version-sync: any of: ^foreign/python/(Cargo\.toml|pyproject\.toml)$
  taplo: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: (^|/)Cargo\.toml$
  cargo-clippy: any of: \.rs$
  go-fmt: any of: ^(foreign|bdd|examples)/go/.*\.go$
  go-mod-tidy: any of: ^(foreign|bdd|examples)/go/(.*\.go|go\.mod|go\.sum)$
  golangci-lint-foreign: any of: ^foreign/go/.*\.go$
  golangci-lint-bdd: any of: ^bdd/go/.*\.go$
  golangci-lint-examples: any of: ^examples/go/.*\.go$
  node-eslint: any of: ^(foreign|examples)/node/.*\.ts$
  web-lint: any of: ^web/.*\.(ts|js|svelte)$
  java-gradle-check: any of: ^(foreign|bdd|examples)/java/.*\.(java|kt|kts)$
  csharp-dotnet-format: any of: ^(foreign|examples)/csharp/.*\.cs$
