Repository yonasBSD/iggy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, licenses-list, rust-version-sync, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy, go-fmt, go-mod-tidy, golangci-lint-foreign, golangci-lint-bdd, golangci-lint-examples, node-eslint, web-lint, java-gradle-check, csharp-dotnet-format

markdownlint:
  name: markdownlint
  entry: ./scripts/ci/markdownlint.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

licenses-list:
  name: licenses list
  entry: ./scripts/ci/licenses-list.sh
  args:
  - --fix
  language: system
  pass_filenames: false

rust-version-sync:
  name: rust version sync
  entry: ./scripts/ci/sync-rust-version.sh
  args:
  - --fix
  language: system
  pass_filenames: false

python-version-sync:
  name: python sdk version sync
  entry: ./scripts/ci/python-version-sync.sh
  args:
  - --fix
  language: system
  pass_filenames: false

taplo:
  name: taplo (TOML format)
  entry: ./scripts/ci/taplo.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: cargo sort --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --all-features
  - --all-targets
  - --manifest-path
  - Cargo.toml
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push

go-fmt:
  name: go fmt
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -d "$dir" ] && (cd "$dir" && gofmt -w -s .); done'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -f "$dir/go.mod" ] && (cd "$dir" && go mod tidy && git diff --exit-code go.mod go.sum); done'
  language: system
  pass_filenames: false

golangci-lint-foreign:
  name: golangci-lint (foreign/go)
  entry: bash -c 'cd foreign/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-bdd:
  name: golangci-lint (bdd/go)
  entry: bash -c 'cd bdd/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-examples:
  name: golangci-lint (examples/go)
  entry: bash -c 'cd examples/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

node-eslint:
  name: node eslint
  entry: bash -c 'for dir in foreign/node examples/node; do [ -f "$dir/package.json" ] && (cd "$dir" && npm run lint); done'
  language: system
  pass_filenames: false

web-lint:
  name: web lint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

java-gradle-check:
  name: java gradle check
  entry: bash -c 'for dir in foreign/java bdd/java examples/java; do [ -f "$dir/build.gradle.kts" ] && (cd "$dir" && ./gradlew check -x test); done'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(web): improve handling of `message_expiry` (#2888)
  web/eslint.config.js
  web/package-lock.json
  web/package.json
  web/src/lib/components/DurationInput.svelte
  web/src/lib/components/Modals/AddTopicModal.svelte
  web/src/lib/components/Modals/TopicSettingsModal.svelte
  web/src/lib/components/SegmentedControl.svelte
  web/src/lib/domain/Topic.ts
  web/src/lib/utils/formatters/durationFormatter.ts
Due: web-lint

fix(ci): disable Go caching to eliminate duplicate-restore errors (#2877)
  .github/actions/go/pre-merge/action.yml
  .github/actions/utils/setup-go-with-cache/action.yml
  .github/workflows/_common.yml
  .github/workflows/_test_examples.yml
  .github/workflows/post-merge.yml
Due: none

chore(consensus): enable pedantic and nursery clippy lints (#2870)
  core/consensus/Cargo.toml
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/namespaced_pipeline.rs
  core/consensus/src/plane_helpers.rs
  core/consensus/src/plane_mux.rs
  core/consensus/src/view_change_quorum.rs
  core/consensus/src/vsr_timeout.rs
Due: taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(clock, journal): enable pedantic and nursery clippy lints (#2874)
  .github/workflows/_common.yml
  core/clock/Cargo.toml
  core/journal/Cargo.toml
Due: taplo, cargo-sort

chore(partitions): enable pedantic and nursery clippy lints (#2876)
  core/partitions/Cargo.toml
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/partitions/src/log.rs
  core/partitions/src/types.rs
Due: taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(message_bus): enable pedantic and nursery clippy lints (#2873)
  core/message_bus/Cargo.toml
  core/message_bus/src/cache/connection.rs
  core/message_bus/src/cache/mod.rs
  core/message_bus/src/lib.rs
Due: taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(simulator): enable pedantic and nursery clippy lints (#2895)
  core/simulator/Cargo.toml
  core/simulator/src/bus.rs
  core/simulator/src/client.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/main.rs
  core/simulator/src/network.rs
  core/simulator/src/packet.rs
  core/simulator/src/ready_queue.rs
  core/simulator/src/replica.rs
Due: taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(shard,metadata): enable pedantic and nursery clippy lints (#2896)
  core/bench/Cargo.toml
  core/message_bus/Cargo.toml
  core/metadata/Cargo.toml
  core/metadata/src/impls/metadata.rs
  core/metadata/src/permissioner/mod.rs
  core/metadata/src/permissioner/permissioner_rules/consumer_groups.rs
  core/metadata/src/permissioner/permissioner_rules/consumer_offsets.rs
  core/metadata/src/permissioner/permissioner_rules/messages.rs
  core/metadata/src/permissioner/permissioner_rules/partitions.rs
  core/metadata/src/permissioner/permissioner_rules/segments.rs
  core/metadata/src/permissioner/permissioner_rules/streams.rs
  core/metadata/src/permissioner/permissioner_rules/system.rs
  core/metadata/src/permissioner/permissioner_rules/topics.rs
  core/metadata/src/permissioner/permissioner_rules/users.rs
  core/metadata/src/stats/mod.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/mux.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
  core/partitions/Cargo.toml
  core/shard/Cargo.toml
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/shard/src/shards_table.rs
Due: taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(python): add TLS and auth args to getting-started examples (#2754)
  .github/actions/python-maturin/pre-merge/action.yml
  examples/python/getting-started/consumer.py
  examples/python/getting-started/producer.py
  foreign/python/tests/conftest.py
  foreign/python/tests/test_tls.py
  scripts/run-python-examples-from-readme.sh
Due: none

fix(rust): auto-reconnect on transport errors after server restart (#2880)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/integration/tests/server/scenarios/mod.rs
  core/integration/tests/server/scenarios/reconnect_after_restart_scenario.rs
  core/integration/tests/server/specific.rs
  core/sdk/Cargo.toml
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(connectors): restart connector with new config without runtime restart (#2781)
  core/connectors/runtime/src/api/sink.rs
  core/connectors/runtime/src/api/source.rs
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/sink.rs
  core/connectors/runtime/src/source.rs
  core/integration/tests/connectors/postgres/mod.rs
  core/integration/tests/connectors/postgres/restart.rs
Due: cargo-fmt, cargo-clippy

refactor(go): upgrade go-retry to v5 and enable infinite reconnection (#2884)
  bdd/go/go.mod
  bdd/go/go.sum
  examples/go/go.mod
  examples/go/go.sum
  foreign/go/client/tcp/tcp_core.go
  foreign/go/go.mod
  foreign/go/go.sum
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

ci(go): merge BDD and e2e test coverage into Go SDK Codecov reports (#2859)
  .github/actions/go/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
Due: none

feat(js): add TCP/TLS integration tests and examples (#2822)
  .github/actions/node-npm/pre-merge/action.yml
  examples/node/README.md
  examples/node/package.json
  examples/node/src/tcp-tls/consumer.ts
  examples/node/src/tcp-tls/producer.ts
  examples/node/test-examples.sh
  foreign/node/src/e2e/tls.system.e2e.ts
  scripts/run-node-examples-from-readme.sh
Due: markdownlint, node-eslint

feat(java): implement Async Connection Pooling using FixedChannelPool (#2606)
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/IggyAuthenticator.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/IggyFrameEncoder.java
Due: java-gradle-check

feat(connectors): add MongoDB sink connector (#2815)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/connectors/runtime/src/sink.rs
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/src/sink.rs
  core/connectors/sinks/mongodb_sink/Cargo.toml
  core/connectors/sinks/mongodb_sink/README.md
  core/connectors/sinks/mongodb_sink/config.toml
  core/connectors/sinks/mongodb_sink/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/mongodb/container.rs
  core/integration/tests/connectors/fixtures/mongodb/mod.rs
  core/integration/tests/connectors/fixtures/mongodb/sink.rs
  core/integration/tests/connectors/mod.rs
  core/integration/tests/connectors/mongodb/mod.rs
  core/integration/tests/connectors/mongodb/mongodb_sink.rs
  core/integration/tests/connectors/mongodb/sink.toml
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(rust): add dedicated TCP/TLS producer and consumer examples (#2820)
  examples/rust/Cargo.toml
  examples/rust/README.md
  examples/rust/src/shared/args.rs
  examples/rust/src/tcp-tls/consumer/main.rs
  examples/rust/src/tcp-tls/producer/main.rs
  scripts/run-rust-examples-from-readme.sh
Due: markdownlint, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore: bump Rust to 1.94 (#2900)
  Dockerfile
  bdd/java/Dockerfile
  bdd/python/Dockerfile
  bdd/rust/Dockerfile
  core/ai/mcp/Dockerfile
  core/bench/dashboard/server/Dockerfile
  core/connectors/runtime/Dockerfile
  core/server/Dockerfile
  rust-toolchain.toml
Due: rust-version-sync, taplo

chore(deps): upgrade workspace dependencies, bump all edge iggy crates (#2901)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/ai/mcp/Cargo.toml
  core/ai/mcp/src/log.rs
  core/ai/mcp/src/service/mod.rs
  core/bench/dashboard/frontend/Cargo.toml
  core/bench/dashboard/server/Cargo.toml
  core/binary_protocol/Cargo.toml
  core/cli/Cargo.toml
  core/common/Cargo.toml
  core/connectors/runtime/Cargo.toml
  core/connectors/runtime/src/log.rs
  core/connectors/sinks/elasticsearch_sink/Cargo.toml
  core/connectors/sinks/iceberg_sink/Cargo.toml
  core/connectors/sinks/mongodb_sink/Cargo.toml
  core/connectors/sinks/postgres_sink/Cargo.toml
  core/connectors/sinks/quickwit_sink/Cargo.toml
  core/connectors/sinks/stdout_sink/Cargo.toml
  core/connectors/sources/elasticsearch_source/Cargo.toml
  core/connectors/sources/postgres_source/Cargo.toml
  core/connectors/sources/random_source/Cargo.toml
  core/integration/Cargo.toml
  core/integration/src/harness/handle/mcp.rs
  core/integration/tests/mcp/mod.rs
  core/sdk/Cargo.toml
  core/server/Cargo.toml
  core/server/src/log/logger.rs
  foreign/python/Cargo.toml
  foreign/python/pyproject.toml
  foreign/python/src/consumer.rs
  foreign/python/src/receive_message.rs
  foreign/python/src/send_message.rs
Due: markdownlint, licenses-list, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  licenses-list: any of: ^Cargo\.lock$
  rust-version-sync: any of: ^rust-toolchain\.toml$
  python-version-sync: any of: ^foreign/python/(Cargo\.toml|pyproject\.toml)$
  taplo: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: (^|/)Cargo\.toml$
  cargo-clippy: any of: \.rs$
  go-fmt: any of: ^(foreign|bdd|examples)/go/.*\.go$
  go-mod-tidy: any of: ^(foreign|bdd|examples)/go/(.*\.go|go\.mod|go\.sum)$
  golangci-lint-foreign: any of: ^foreign/go/.*\.go$
  golangci-lint-bdd: any of: ^bdd/go/.*\.go$
  golangci-lint-examples: any of: ^examples/go/.*\.go$
  node-eslint: any of: ^(foreign|examples)/node/.*\.ts$
  web-lint: any of: ^web/.*\.(ts|js|svelte)$
  java-gradle-check: any of: ^(foreign|bdd|examples)/java/.*\.(java|kt|kts)$
  csharp-dotnet-format: any of: ^(foreign|examples)/csharp/.*\.cs$
