Repository yonasBSD/iggy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, licenses-list, rust-version-sync, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy, go-fmt, go-mod-tidy, golangci-lint-foreign, golangci-lint-bdd, golangci-lint-examples, node-eslint, web-lint, java-gradle-check, csharp-dotnet-format

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  licenses-list: any of: ^Cargo\.lock$
  rust-version-sync: any of: ^rust-toolchain\.toml$
  python-version-sync: any of: ^foreign/python/(Cargo\.toml|pyproject\.toml)$
  taplo: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: (^|/)Cargo\.toml$
  cargo-clippy: any of: \.rs$
  go-fmt: any of: ^(foreign|bdd|examples)/go/.*\.go$
  go-mod-tidy: any of: ^(foreign|bdd|examples)/go/(.*\.go|go\.mod|go\.sum)$
  golangci-lint-foreign: any of: ^foreign/go/.*\.go$
  golangci-lint-bdd: any of: ^bdd/go/.*\.go$
  golangci-lint-examples: any of: ^examples/go/.*\.go$
  node-eslint: any of: ^(foreign|examples)/node/.*\.ts$
  web-lint: any of: ^web/.*\.(ts|js|svelte)$
  java-gradle-check: any of: ^(foreign|bdd|examples)/java/.*\.(java|kt|kts)$
  csharp-dotnet-format: any of: ^(foreign|examples)/csharp/.*\.cs$

chore(repo,ci): fix macOS pre-merge, bump versions (#3248)
  .github/actions/utils/setup-rust-with-cache/action.yml
  Cargo.lock
  Cargo.toml
  bdd/python/uv.lock
  core/ai/mcp/Cargo.toml
  core/bench/Cargo.toml
  core/bench/dashboard/frontend/Cargo.toml
  core/bench/dashboard/server/Cargo.toml
  core/bench/report/Cargo.toml
  core/binary_protocol/Cargo.toml
  core/cli/Cargo.toml
  core/common/Cargo.toml
  core/connectors/runtime/Cargo.toml
  core/connectors/sdk/Cargo.toml
  core/connectors/sinks/delta_sink/Cargo.toml
  core/connectors/sinks/elasticsearch_sink/Cargo.toml
  core/connectors/sinks/http_sink/Cargo.toml
  core/connectors/sinks/iceberg_sink/Cargo.toml
  core/connectors/sinks/influxdb_sink/Cargo.toml
  core/connectors/sinks/mongodb_sink/Cargo.toml
  core/connectors/sinks/postgres_sink/Cargo.toml
  core/connectors/sinks/quickwit_sink/Cargo.toml
  core/connectors/sinks/stdout_sink/Cargo.toml
  core/connectors/sources/elasticsearch_source/Cargo.toml
  core/connectors/sources/influxdb_source/Cargo.toml
  core/connectors/sources/postgres_source/Cargo.toml
  core/connectors/sources/random_source/Cargo.toml
  core/sdk/Cargo.toml
  core/server/Cargo.toml
  examples/python/uv.lock
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/go/contracts/version.go
  foreign/java/gradle.properties
  foreign/node/package.json
  foreign/python/Cargo.toml
  foreign/python/pyproject.toml
  foreign/python/uv.lock
  scripts/bump-version.sh
  web/package.json
Due: licenses-list, python-version-sync, taplo, cargo-sort, go-fmt, go-mod-tidy, golangci-lint-foreign

feat(ci): label PR review state via slash commands and lifecycle (#3231)
  .github/CODEOWNERS
  .github/workflows/_detect.yml
  .github/workflows/pr-triage.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
Due: markdownlint

ci: declare explicit read-only permissions on reusable workflows (#3243)
  .github/workflows/_build_python_wheels.yml
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/_detect.yml
Due: none

ci: allow org members to drive PR triage commands (#3255)
  .github/workflows/pr-triage.yml
Due: none

test(sdk): validate handle_response status and length edge cases (#3202)
  core/sdk/src/tcp/tcp_client.rs
Due: cargo-fmt, cargo-clippy

fix(ci): stop publish failing on existing immutable edge tags (#3259)
  .github/workflows/publish.yml
Due: none

ci: make PR triage react to reviews and survive transient errors (#3260)
  .github/workflows/pr-triage.yml
  CONTRIBUTING.md
Due: markdownlint

ci: add PR welcome comment, widen changes-requested gate (#3261)
  .github/workflows/pr-triage.yml
  CONTRIBUTING.md
Due: markdownlint

fix(ci): handle fork-PR triage commands via workflow_run handoff (#3268)
  .github/workflows/pr-triage-apply.yml
  .github/workflows/pr-triage-collect.yml
  CONTRIBUTING.md
Due: markdownlint

feat(java): add actor and data batch generator for java bench (#3218)
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/actors/tcp/async/TcpAsyncPinnedProducerActor.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/runners/tcp/async/TcpAsyncPinnedProducer.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/tcp/async/TcpAsyncPinnedProducer.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/cli/PinnedProducerCommand.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/ActorKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/BenchmarkKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/GroupKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/TransportKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/exception/BenchmarkException.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/generator/BenchmarkBatchGenerator.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/provision/ResourceProvisioner.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/cli/GlobalCliArgs.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/cli/PinnedProducerCliArgs.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/common/generator/DataBatch.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/common/provision/ProvisionedResources.java
Due: java-gradle-check

ci: add github-actions ecosystem to dependabot (#3271)
  .github/dependabot.yml
Due: none

fix(go): add bounds checking to DeserializeStreams for payloads > 64KB (#3165)
  foreign/go/binary_serialization/binary_response_deserializer.go
  foreign/go/binary_serialization/binary_response_deserializer_test.go
  foreign/go/client/tcp/tcp_stream_management.go
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

fix(server): warn and skip non-numeric filenames in consumer offset directories instead of panicking (#3135)
  core/integration/tests/mod.rs
  core/integration/tests/storage/consumer_offsets.rs
  core/integration/tests/storage/mod.rs
  core/server/src/streaming/partitions/storage.rs
Due: cargo-fmt, cargo-clippy

chore(deps): update workspace deps (#3280)
  Cargo.lock
  Cargo.toml
  bdd/python/uv.lock
  foreign/cpp/Cargo.toml
  foreign/python/Cargo.toml
  foreign/python/uv.lock
Due: licenses-list, python-version-sync, taplo, cargo-sort

ci: collapse status into finalize_pr, fix cancel hang (#3282)
  .github/workflows/_common.yml
  .github/workflows/pre-merge.yml
  .github/workflows/publish.yml
Due: none

ci: run PR triage on ubuntu-24.04-arm for faster pickup (#3270)
  .github/workflows/pr-triage-apply.yml
  .github/workflows/pr-triage-collect.yml
Due: none

fix(ci): disable bazel cache for cpp linting (#3281)
  .github/actions/cpp-bazel/pre-merge/action.yml
Due: none

fix(ci): stop stale bot from re-marking PRs each week (#3283)
  .github/workflows/stale-prs-unmark-on-activity.yml
  .github/workflows/stale-prs-unmark.yml
  .github/workflows/stale-prs.yml
Due: none

ci: add Miri UB detector for binary_protocol and consensus (#3284)
  .github/actions/rust/pre-merge/action.yml
  .github/config/components.yml
  core/binary_protocol/src/consensus/command.rs
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/iobuf.rs
  core/binary_protocol/src/consensus/message.rs
  core/common/src/alloc/buffer.rs
  core/common/src/types/send_messages2.rs
  core/journal/src/prepare_journal.rs
  justfile
Due: cargo-fmt, cargo-clippy

ci: fail fast pre-merge matrices (#3286)
  .github/workflows/pre-merge.yml
Due: none

refactor(ci): rely on pre-commit file arguments (#3201)
  scripts/ci/binary-artifacts.sh
  scripts/ci/markdownlint.sh
  scripts/ci/shellcheck.sh
  scripts/ci/taplo.sh
  scripts/ci/trailing-newline.sh
  scripts/ci/trailing-whitespace.sh
Due: none

refactor(connectors): extract row-processing logic into reusable process_row method (#3198)
  core/connectors/sources/postgres_source/src/lib.rs
Due: cargo-fmt, cargo-clippy

ci: remove team from dependabot assignees field (#3295)
  .github/dependabot.yml
Due: none

feat(csharp): implement rented message polling (#3250)
  foreign/csharp/Iggy_SDK.Tests.Integration/FetchMessagesTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/IggyTypedConsumerTests.cs
  foreign/csharp/Iggy_SDK.sln
  foreign/csharp/Iggy_SDK/Consumers/IDeserializer.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.Rented.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerBuilder.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerOfT.cs
  foreign/csharp/Iggy_SDK/Consumers/ReceivedMessage.cs
  foreign/csharp/Iggy_SDK/Consumers/ReceivedRentedMessage.cs
  foreign/csharp/Iggy_SDK/Contracts/PolledMessagesRental.cs
  foreign/csharp/Iggy_SDK/Contracts/RentedMessageResponse.cs
  foreign/csharp/Iggy_SDK/Extensions/IggyClientExtension.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyConsumer.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/JsonConverters/MessageResponseConverter.cs
  foreign/csharp/Iggy_SDK/Mappers/BinaryMapper.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/RentedConsumerTests.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/RentedTypedConsumerTests.cs
  foreign/csharp/Iggy_SDK_Tests/MapperTests/BinaryMapper.cs
  foreign/csharp/Iggy_SDK_Tests/UtilityTests/SlicedMemoryOwnerTests.cs
Due: csharp-dotnet-format

feat(simulator): deterministic seed based workload fuzz harness (#3272)
  Cargo.lock
  Cargo.toml
  core/simulator/Cargo.toml
  core/simulator/src/client.rs
  core/simulator/src/lib.rs
  core/simulator/src/main.rs
  core/simulator/src/workload/actions.rs
  core/simulator/src/workload/auditor.rs
  core/simulator/src/workload/effect.rs
  core/simulator/src/workload/ids.rs
  core/simulator/src/workload/mod.rs
  core/simulator/src/workload/ops/change_password.rs
  core/simulator/src/workload/ops/create_consumer_group.rs
  core/simulator/src/workload/ops/create_partitions.rs
  core/simulator/src/workload/ops/create_personal_access_token.rs
  core/simulator/src/workload/ops/create_stream.rs
  core/simulator/src/workload/ops/create_topic.rs
  core/simulator/src/workload/ops/create_user.rs
  core/simulator/src/workload/ops/delete_consumer_group.rs
  core/simulator/src/workload/ops/delete_consumer_offset.rs
  core/simulator/src/workload/ops/delete_consumer_offset_2.rs
  core/simulator/src/workload/ops/delete_partitions.rs
  core/simulator/src/workload/ops/delete_personal_access_token.rs
  core/simulator/src/workload/ops/delete_segments.rs
  core/simulator/src/workload/ops/delete_stream.rs
  core/simulator/src/workload/ops/delete_topic.rs
  core/simulator/src/workload/ops/delete_user.rs
  core/simulator/src/workload/ops/mod.rs
  core/simulator/src/workload/ops/purge_stream.rs
  core/simulator/src/workload/ops/purge_topic.rs
  core/simulator/src/workload/ops/send_messages.rs
  core/simulator/src/workload/ops/store_consumer_offset.rs
  core/simulator/src/workload/ops/store_consumer_offset_2.rs
  core/simulator/src/workload/ops/update_permissions.rs
  core/simulator/src/workload/ops/update_stream.rs
  core/simulator/src/workload/ops/update_topic.rs
  core/simulator/src/workload/ops/update_user.rs
  core/simulator/src/workload/options.rs
  core/simulator/src/workload/shadow.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci: run stale-prs unmark jobs on arm runner (#3300)
  .github/workflows/stale-prs-unmark-on-activity.yml
  .github/workflows/stale-prs-unmark.yml
Due: none

ci: run PR title check from dedicated workflow (#3301)
  .asf.yaml
  .github/workflows/_common.yml
  .github/workflows/pr-title.yml
Due: none

fix(connectors): Add unwrap_envelope transform and envelope detection to fix source-sink format mismatch (#3197)
  core/connectors/sdk/README.md
  core/connectors/sdk/src/transforms/json/mod.rs
  core/connectors/sdk/src/transforms/json/unwrap_envelope.rs
  core/connectors/sdk/src/transforms/mod.rs
  core/connectors/sdk/src/transforms/unwrap_envelope.rs
  core/connectors/sinks/iceberg_sink/README.md
  core/connectors/sources/postgres_source/README.md
Due: markdownlint, cargo-fmt, cargo-clippy

feat(ci): disable rust-cache for cpp linting step (#3316)
  .github/actions/cpp-bazel/pre-merge/action.yml
Due: none

fix(connectors): unify extract_column_value into single free function (#3199)
  core/connectors/sources/postgres_source/src/lib.rs
  core/integration/tests/connectors/fixtures/postgres/source.rs
  core/integration/tests/connectors/postgres/postgres_source.rs
Due: cargo-fmt, cargo-clippy

fix(connectors): replace overloaded InvalidRecord with distinct error variants (#3194)
  core/connectors/sdk/src/lib.rs
  core/connectors/sinks/iceberg_sink/src/router/mod.rs
Due: cargo-fmt, cargo-clippy

feat(cpp): add functions related to system (#3102)
  foreign/cpp/.bazelignore
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/consumer_group.rs
  foreign/cpp/src/identifier.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/client/low_level_e2e.cpp
  foreign/cpp/tests/common/test_helpers.hpp
  foreign/cpp/tests/identifier/unit_tests.cpp
  foreign/cpp/tests/unit_tests.cpp
Due: cargo-fmt, cargo-clippy

feat(python): Configure ruff properly and conform to modern python coding standards (#3318)
  .typos.toml
  bdd/python/pylock.toml
  bdd/python/pyproject.toml
  bdd/python/tests/conftest.py
  bdd/python/tests/test_basic_messaging.py
  bdd/python/uv.lock
  examples/python/README.md
  examples/python/basic/consumer.py
  examples/python/basic/producer.py
  examples/python/getting-started/consumer.py
  examples/python/getting-started/producer.py
  examples/python/pylock.toml
  examples/python/pyproject.toml
  examples/python/requirements.txt
  examples/python/uv.lock
  foreign/python/Cargo.toml
  foreign/python/apache_iggy.pyi
  foreign/python/pylock.toml
  foreign/python/pyproject.toml
  foreign/python/src/client.rs
  foreign/python/src/consumer.rs
  foreign/python/src/receive_message.rs
  foreign/python/src/send_message.rs
  foreign/python/tests/conftest.py
  foreign/python/tests/test_iggy_sdk.py
  foreign/python/tests/test_tls.py
  foreign/python/tests/utils.py
  foreign/python/uv.lock
Due: markdownlint, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci(python): add interpreter version sync check (#3319)
  .github/workflows/_build_python_wheels.yml
  .github/workflows/_common.yml
  .pre-commit-config.yaml
  foreign/python/.devcontainer/Dockerfile
  scripts/ci/sync-python-version.sh
Due: none

feat(php): implement initial version of PHP SDK (#3235)
  .github/actions/php/pre-merge/action.yml
  .github/config/components.yml
  .github/workflows/_detect.yml
  .github/workflows/_test.yml
  .github/workflows/pr-title.yml
  .github/workflows/pre-merge.yml
  Cargo.toml
  foreign/php/.cargo/config.toml
  foreign/php/.gitignore
  foreign/php/Cargo.toml
  foreign/php/Dockerfile.test
  foreign/php/LICENSE
  foreign/php/NOTICE
  foreign/php/README.md
  foreign/php/composer.json
  foreign/php/docker-compose.test.yml
  foreign/php/iggy-php.stubs.php
  foreign/php/phpunit.xml.dist
  foreign/php/scripts/test.sh
  foreign/php/src/client.rs
  foreign/php/src/consumer.rs
  foreign/php/src/error.rs
  foreign/php/src/identifier.rs
  foreign/php/src/lib.rs
  foreign/php/src/receive_message.rs
  foreign/php/src/runtime.rs
  foreign/php/src/send_message.rs
  foreign/php/src/stream.rs
  foreign/php/src/topic.rs
  foreign/php/tests/IggySdkTest.php
  foreign/php/tests/TlsTest.php
  foreign/php/tests/bootstrap.php
Due: markdownlint, taplo, cargo-fmt, cargo-sort, cargo-clippy
