Repository yonasBSD/iggy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, licenses-list, rust-version-sync, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy, go-fmt, go-mod-tidy, golangci-lint-foreign, golangci-lint-bdd, golangci-lint-examples, node-eslint, web-lint, java-gradle-check, csharp-dotnet-format

markdownlint:
  name: markdownlint
  entry: ./scripts/ci/markdownlint.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

licenses-list:
  name: licenses list
  entry: ./scripts/ci/licenses-list.sh
  args:
  - --fix
  language: system
  pass_filenames: false

rust-version-sync:
  name: rust version sync
  entry: ./scripts/ci/sync-rust-version.sh
  args:
  - --fix
  language: system
  pass_filenames: false

python-version-sync:
  name: python sdk version sync
  entry: ./scripts/ci/python-version-sync.sh
  args:
  - --fix
  language: system
  pass_filenames: false

taplo:
  name: taplo (TOML format)
  entry: ./scripts/ci/taplo.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: cargo sort --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --all-features
  - --all-targets
  - --manifest-path
  - Cargo.toml
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push

go-fmt:
  name: go fmt
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -d "$dir" ] && (cd "$dir" && gofmt -w -s .); done'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -f "$dir/go.mod" ] && (cd "$dir" && go mod tidy && git diff --exit-code go.mod go.sum); done'
  language: system
  pass_filenames: false

golangci-lint-foreign:
  name: golangci-lint (foreign/go)
  entry: bash -c 'cd foreign/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-bdd:
  name: golangci-lint (bdd/go)
  entry: bash -c 'cd bdd/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-examples:
  name: golangci-lint (examples/go)
  entry: bash -c 'cd examples/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

node-eslint:
  name: node eslint
  entry: bash -c 'for dir in foreign/node examples/node; do [ -f "$dir/package.json" ] && (cd "$dir" && npm run lint); done'
  language: system
  pass_filenames: false

web-lint:
  name: web lint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

java-gradle-check:
  name: java gradle check
  entry: bash -c 'for dir in foreign/java bdd/java examples/java; do [ -f "$dir/build.gradle.kts" ] && (cd "$dir" && ./gradlew check -x test); done'
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore(deps): bump workspace; migrate sqlx 0.9 + keyring 4 (#3324)
  Cargo.lock
  Cargo.toml
  core/cli/Cargo.toml
  core/cli/src/commands/binary_personal_access_tokens/create_personal_access_token.rs
  core/cli/src/commands/binary_personal_access_tokens/delete_personal_access_tokens.rs
  core/cli/src/commands/binary_system/session.rs
  core/cli/src/credentials.rs
  core/cli/src/main.rs
  core/connectors/sinks/postgres_sink/src/lib.rs
  core/connectors/sources/postgres_source/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/cli/common/keyring.rs
  core/integration/tests/cli/common/mod.rs
  core/integration/tests/cli/personal_access_token/test_pat_login_options.rs
  core/integration/tests/cli/system/test_login_cmd.rs
  core/integration/tests/cli/system/test_logout_cmd.rs
  core/integration/tests/connectors/fixtures/postgres/container.rs
  core/integration/tests/connectors/fixtures/postgres/sink.rs
  core/integration/tests/connectors/fixtures/postgres/source.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci: share runner disk cleanup across PHP, Rust, BDD, coverage (#3330)
  .github/actions/php/pre-merge/action.yml
  .github/actions/rust/pre-merge/action.yml
  .github/actions/utils/free-disk-space/action.yml
  .github/workflows/_test_bdd.yml
  .github/workflows/coverage-baseline.yml
Due: none

ci: fold free-disk-space into setup-rust-with-cache (#3332)
  .github/actions/php/pre-merge/action.yml
  .github/actions/rust/pre-merge/action.yml
  .github/actions/utils/free-disk-space/action.yml
  .github/actions/utils/setup-rust-with-cache/action.yml
  .github/workflows/_test_bdd.yml
  .github/workflows/coverage-baseline.yml
Due: none

ci: run PR Title workflow on ubuntu-24.04-arm (#3329)
  .github/workflows/pr-title.yml
Due: none

fix(cli): swap libdbus-backed keyring for pure-Rust zbus (#3326)
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/_build_rust_artifacts.yml
  Cargo.lock
  Cargo.toml
  core/cli/Cargo.toml
  core/cli/build.rs
  core/cli/src/commands/binary_system/session.rs
  core/integration/Cargo.toml
  core/integration/build.rs
  core/integration/tests/cli/common/keyring.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci: broaden dependabot coverage, add cooldown and PR caps (#3322)
  .github/dependabot.yml
  bdd/README.md
  bdd/python/requirements.txt
Due: markdownlint

feat(python): add package cooldown and pyrefly (#3323)
  .github/actions/python-maturin/pre-merge/action.yml
  .pre-commit-config.yaml
  bdd/python/pylock.toml
  bdd/python/pyproject.toml
  bdd/python/tests/conftest.py
  bdd/python/uv.lock
  examples/python/basic/consumer.py
  examples/python/basic/producer.py
  examples/python/getting-started/consumer.py
  examples/python/getting-started/producer.py
  examples/python/pylock.toml
  examples/python/pyproject.toml
  examples/python/uv.lock
  foreign/python/pylock.toml
  foreign/python/pyproject.toml
  foreign/python/uv.lock
Due: python-version-sync, taplo

chore(server-ng): extract compio executor and io_uring diagnostics into shared crate (#3331)
  core/configs/src/configs_impl/typed_env_provider.rs
  core/server-ng/src/main.rs
  core/server/src/bootstrap.rs
  core/server/src/diagnostics.rs
  core/server_common/src/diagnostics.rs
  core/server_common/src/executor.rs
  core/server_common/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(connectors): add Apache Doris sink connector (#3215)
  .config/nextest.toml
  .github/actions/rust/pre-merge/action.yml
  Cargo.lock
  Cargo.toml
  core/connectors/README.md
  core/connectors/runtime/example_config/connectors/doris_sink.toml
  core/connectors/sinks/README.md
  core/connectors/sinks/doris_sink/Cargo.toml
  core/connectors/sinks/doris_sink/README.md
  core/connectors/sinks/doris_sink/config.toml
  core/connectors/sinks/doris_sink/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/doris/doris_sink.rs
  core/integration/tests/connectors/doris/mod.rs
  core/integration/tests/connectors/doris/sink.toml
  core/integration/tests/connectors/fixtures/doris/container.rs
  core/integration/tests/connectors/fixtures/doris/mod.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/mod.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci(connectors): raise vm.max_map_count for Doris in coverage job (#3365)
  .github/workflows/coverage-baseline.yml
Due: none

ci(php): pin supported PHP version (#3333)
  .github/actions/php/pre-merge/action.yml
  foreign/php/README.md
Due: markdownlint

docs: clarify compression placeholders (#3366)
  README.md
  core/sdk/README.md
  core/server/config.toml
  examples/rust/README.md
Due: markdownlint, taplo

fix(js): publish npm prereleases under a channel tag, not latest (#3370)
  .github/actions/node-npm/post-merge/action.yml
Due: none

chore(repo): improve issue/PR templates and trim triage docs (#3372)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/pr-triage-apply.yml
  CONTRIBUTING.md
  PULL_REQUEST_TEMPLATE.md
Due: markdownlint

ci: gate Docker :edge refresh by cargo-rail DAG (#3369)
  .github/actions/utils/docker-buildx/action.yml
  .github/actions/utils/docker-login/action.yml
  .github/config/publish.yml
  .github/workflows/post-merge.yml
  .github/workflows/publish.yml
  scripts/ci/edge-affected-images.sh
Due: none

feat(php): add SDK examples component (#3368)
  .github/config/components.yml
  .github/workflows/_test_examples.yml
  examples/php/README.md
  examples/php/basic/consumer.php
  examples/php/basic/producer.php
  examples/php/getting-started/consumer.php
  examples/php/getting-started/producer.php
  examples/php/src/common.php
  scripts/run-examples-from-readme.sh
Due: markdownlint

chore(deps): bump go, docker, bazel and github-actions deps (#3363)
  .github/workflows/coverage-baseline.yml
  bdd/Dockerfile
  bdd/csharp/Dockerfile
  bdd/go/Dockerfile
  bdd/go/go.mod
  bdd/go/go.sum
  bdd/java/Dockerfile
  examples/go/go.mod
  examples/go/go.sum
  foreign/cpp/MODULE.bazel
  foreign/cpp/MODULE.bazel.lock
  foreign/go/go.mod
  foreign/go/go.sum
Due: go-mod-tidy

feat(cpp): Create fixture for clean up and add purge_* functions (#3320)
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/client/low_level_e2e.cpp
  foreign/cpp/tests/common/test_helpers.hpp
  foreign/cpp/tests/consumer_group/low_level_e2e.cpp
  foreign/cpp/tests/message/low_level_e2e.cpp
  foreign/cpp/tests/partition/low_level_e2e.cpp
  foreign/cpp/tests/stream/low_level_e2e.cpp
  foreign/cpp/tests/topic/low_level_e2e.cpp
Due: cargo-fmt, cargo-clippy

chore(deps): bump npm packages and node docker image (#3361)
  bdd/node/Dockerfile
  examples/node/package-lock.json
  examples/node/package.json
  foreign/node/package-lock.json
  foreign/node/package.json
  foreign/node/tsconfig.json
  web/package-lock.json
  web/package.json
Due: none

feat(sdk): support sending raw requests for custom commands (#3373)
  Cargo.lock
  Cargo.toml
  core/binary_protocol/Cargo.toml
  core/common/Cargo.toml
  core/common/src/lib.rs
  core/common/src/types/http.rs
  core/common/src/types/mod.rs
  core/integration/tests/sdk/raw.rs
  core/sdk/Cargo.toml
  core/sdk/src/clients/client.rs
  core/sdk/src/http/http_client.rs
  core/sdk/src/http/http_transport.rs
  core/sdk/src/http/mod.rs
  core/sdk/src/prelude.rs
  foreign/python/Cargo.toml
  foreign/python/pyproject.toml
Due: licenses-list, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(deps): update and pin .net nuget versions (#3375)
  .github/dependabot.yml
  foreign/csharp/Directory.Packages.props
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
Due: none

feat(connectors): Implement influxdb v2 and v3 connector with separate source and sink crates (#3140)
  Cargo.lock
  Cargo.toml
  core/connectors/sinks/README.md
  core/connectors/sinks/influxdb_sink/Cargo.toml
  core/connectors/sinks/influxdb_sink/README.md
  core/connectors/sinks/influxdb_sink/config.toml
  core/connectors/sinks/influxdb_sink/dependencies.md
  core/connectors/sinks/influxdb_sink/src/lib.rs
  core/connectors/sinks/influxdb_sink/src/protocol.rs
  core/connectors/sources/README.md
  core/connectors/sources/influxdb_source/Cargo.toml
  core/connectors/sources/influxdb_source/README.md
  core/connectors/sources/influxdb_source/dependencies.md
  core/connectors/sources/influxdb_source/src/common.rs
  core/connectors/sources/influxdb_source/src/lib.rs
  core/connectors/sources/influxdb_source/src/row.rs
  core/connectors/sources/influxdb_source/src/v2.rs
  core/connectors/sources/influxdb_source/src/v3.rs
  core/integration/tests/connectors/fixtures/influxdb/container.rs
  core/integration/tests/connectors/fixtures/influxdb/container_v3.rs
  core/integration/tests/connectors/fixtures/influxdb/mod.rs
  core/integration/tests/connectors/fixtures/influxdb/sink.rs
  core/integration/tests/connectors/fixtures/influxdb/sink_v3.rs
  core/integration/tests/connectors/fixtures/influxdb/source.rs
  core/integration/tests/connectors/fixtures/influxdb/source_v3.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/influxdb/docker-compose.yml
  core/integration/tests/connectors/influxdb/influxdb_sink_v3.rs
  core/integration/tests/connectors/influxdb/influxdb_source_v3.rs
  core/integration/tests/connectors/influxdb/mod.rs
  core/integration/tests/connectors/influxdb/sink_v3.toml
  core/integration/tests/connectors/influxdb/sink_v3_config/config.toml
  core/integration/tests/connectors/influxdb/source_v3.toml
  core/integration/tests/connectors/influxdb/source_v3_config/config.toml
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci: run finalize_pr on arm runner (#3402)
  .github/workflows/pre-merge.yml
Due: none

ci: auto-assign issue authors who volunteer to contribute (#3400)
  .github/workflows/issue-labeler-assigner.yml
  .github/workflows/pr-triage-apply.yml
  CONTRIBUTING.md
Due: markdownlint

test(connectors): share one Elasticsearch container across tests (#3401)
  .claude/skills/connector-testing/SKILL.md
  .config/nextest.toml
  core/integration/tests/connectors/fixtures/delta/fixture.rs
  core/integration/tests/connectors/fixtures/doris/container.rs
  core/integration/tests/connectors/fixtures/elasticsearch/container.rs
  core/integration/tests/connectors/fixtures/elasticsearch/sink.rs
  core/integration/tests/connectors/fixtures/elasticsearch/source.rs
  core/integration/tests/connectors/fixtures/http/container.rs
  core/integration/tests/connectors/fixtures/iceberg/container.rs
  core/integration/tests/connectors/fixtures/influxdb/container.rs
  core/integration/tests/connectors/fixtures/influxdb/container_v3.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/mongodb/container.rs
  core/integration/tests/connectors/fixtures/postgres/container.rs
  core/integration/tests/connectors/fixtures/quickwit/container.rs
  core/integration/tests/connectors/fixtures/wiremock.rs
  justfile
Due: markdownlint, taplo, cargo-fmt, cargo-clippy

ci(php): run TLS tests in CI (#3381)
  .github/actions/php/pre-merge/action.yml
  foreign/php/README.md
  foreign/php/tests/TlsTest.php
Due: markdownlint

refactor(server-ng): move bootstrap directories to server_common (#3403)
  core/configs/src/server_config/system.rs
  core/server-ng/src/bootstrap.rs
  core/server/src/bootstrap.rs
  core/server_common/src/bootstrap.rs
  core/server_common/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(metadata): fix integration tests (#3399)
  core/consensus/src/metadata_helpers.rs
  core/harness_derive/src/codegen.rs
  core/integration/tests/mod.rs
  core/integration/tests/sdk/hello_world.rs
  core/message_bus/src/client_listener/quic.rs
  core/message_bus/src/installer/quic.rs
  core/message_bus/src/lib.rs
  core/message_bus/src/transports/quic.rs
  core/message_bus/src/transports/ws.rs
  core/message_bus/tests/quic_client_roundtrip.rs
  core/message_bus/tests/ws_client_roundtrip.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
  core/sdk/src/vsr.rs
  core/server-ng/src/bootstrap.rs
  core/shard/src/builder.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
Due: cargo-fmt, cargo-clippy

fix(server): distribute partitions evenly in cooperative rebalancing (#3374)
  core/integration/tests/data_integrity/verify_consumer_group_partition_assignment.rs
  core/server/src/metadata/consumer_group.rs
Due: cargo-fmt, cargo-clippy

fix(server): fix websocket recv (#3405)
  Cargo.lock
  Cargo.toml
  core/message_bus/src/client_listener/mod.rs
  core/message_bus/src/client_listener/quic.rs
  core/message_bus/src/client_listener/tcp.rs
  core/message_bus/src/client_listener/ws.rs
  core/message_bus/src/installer/mod.rs
  core/message_bus/src/lib.rs
  core/message_bus/src/replica/listener.rs
  core/message_bus/src/transports/tcp.rs
  core/message_bus/src/transports/ws.rs
  core/message_bus/src/transports/wss.rs
  core/server-ng/src/bootstrap.rs
  core/server/Cargo.toml
  core/server/src/http/http_server.rs
  core/server/src/http/jwt/jwks.rs
  core/server/src/http/jwt/middleware.rs
  core/server/src/sender/websocket_tls_sender.rs
  core/server/src/tcp/mod.rs
  core/server/src/tcp/tcp_listener.rs
  core/server/src/tcp/tcp_tls_listener.rs
  core/server/src/websocket/websocket_listener.rs
  core/server/src/websocket/websocket_tls_listener.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(php): map Iggy errors to typed exceptions (#3382)
  foreign/php/iggy-php.stubs.php
  foreign/php/src/client.rs
  foreign/php/src/consumer.rs
  foreign/php/src/error.rs
  foreign/php/src/lib.rs
  foreign/php/src/receive_message.rs
  foreign/php/tests/ErrorTest.php
  foreign/php/tests/bootstrap.php
Due: cargo-fmt, cargo-clippy

fix(php): pin ext-php-rs and cargo-php to stop flaky stubs load (#3411)
  .github/actions/php/pre-merge/action.yml
  foreign/php/Cargo.toml
  foreign/php/Dockerfile.test
Due: taplo, cargo-sort

fix(server): correct VSR client session routing and lifecycle (#3407)
  Cargo.toml
  core/consensus/src/metadata_helpers.rs
  core/integration/tests/sdk/clients.rs
  core/integration/tests/sdk/mod.rs
  core/metadata/src/impls/metadata.rs
  core/server-ng/src/auth.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/lib.rs
  core/server-ng/src/login_register.rs
  core/server-ng/src/pat.rs
  core/server-ng/src/responses.rs
  core/server-ng/src/session_manager.rs
  core/server-ng/src/wire.rs
  core/shard/src/builder.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
Due: taplo, cargo-fmt, cargo-sort, cargo-clippy

ci(php): add SDK coverage report (#3408)
  .github/actions/php/pre-merge/action.yml
  .github/actions/python-maturin/pre-merge/action.yml
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/coverage-baseline.yml
  codecov.yml
  scripts/ci/validate-lcov.sh
Due: none

test(connectors): add random source liveness helper (#3377)
  core/integration/tests/connectors/mod.rs
  core/integration/tests/connectors/random/random_source.rs
  core/integration/tests/connectors/random_source_liveness.rs
Due: cargo-fmt, cargo-clippy

ci: scope runner disk cleanup per job and trim rust pre-merge setup (#3406)
  .github/actions/rust/pre-merge/action.yml
  .github/actions/utils/free-disk-space/action.yml
  .github/actions/utils/setup-rust-with-cache/action.yml
  .github/workflows/coverage-baseline.yml
Due: none

fix(ci): ensure dependencies are available when running `lint` in `pre-commit` (#3427)
  .pre-commit-config.yaml
Due: none

fix(connectors): guard InfluxDB v3 cursor rollback on rows_at_max_cursor > 1 (#3434)
  core/connectors/sources/influxdb_source/src/v3.rs
Due: cargo-fmt, cargo-clippy

fix(connectors): handle unrecognized types with explicit coverage and diagnostics (#3196)
  Cargo.lock
  core/connectors/sources/postgres_source/Cargo.toml
  core/connectors/sources/postgres_source/src/lib.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  licenses-list: any of: ^Cargo\.lock$
  rust-version-sync: any of: ^rust-toolchain\.toml$
  python-version-sync: any of: ^foreign/python/(Cargo\.toml|pyproject\.toml)$
  taplo: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: (^|/)Cargo\.toml$
  cargo-clippy: any of: \.rs$
  go-fmt: any of: ^(foreign|bdd|examples)/go/.*\.go$
  go-mod-tidy: any of: ^(foreign|bdd|examples)/go/(.*\.go|go\.mod|go\.sum)$
  golangci-lint-foreign: any of: ^foreign/go/.*\.go$
  golangci-lint-bdd: any of: ^bdd/go/.*\.go$
  golangci-lint-examples: any of: ^examples/go/.*\.go$
  node-eslint: any of: ^(foreign|examples)/node/.*\.ts$
  web-lint: any of: ^web/.*\.(ts|js|svelte)$
  java-gradle-check: any of: ^(foreign|bdd|examples)/java/.*\.(java|kt|kts)$
  csharp-dotnet-format: any of: ^(foreign|examples)/csharp/.*\.cs$
