Repository yonasBSD/iggy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, licenses-list, rust-version-sync, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy, go-fmt, go-mod-tidy, golangci-lint-foreign, golangci-lint-bdd, golangci-lint-examples, node-eslint, web-lint, java-gradle-check, csharp-dotnet-format

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  licenses-list: any of: ^Cargo\.lock$
  rust-version-sync: any of: ^rust-toolchain\.toml$
  python-version-sync: any of: ^foreign/python/(Cargo\.toml|pyproject\.toml)$
  taplo: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: (^|/)Cargo\.toml$
  cargo-clippy: any of: \.rs$
  go-fmt: any of: ^(foreign|bdd|examples)/go/.*\.go$
  go-mod-tidy: any of: ^(foreign|bdd|examples)/go/(.*\.go|go\.mod|go\.sum)$
  golangci-lint-foreign: any of: ^foreign/go/.*\.go$
  golangci-lint-bdd: any of: ^bdd/go/.*\.go$
  golangci-lint-examples: any of: ^examples/go/.*\.go$
  node-eslint: any of: ^(foreign|examples)/node/.*\.ts$
  web-lint: any of: ^web/.*\.(ts|js|svelte)$
  java-gradle-check: any of: ^(foreign|bdd|examples)/java/.*\.(java|kt|kts)$
  csharp-dotnet-format: any of: ^(foreign|examples)/csharp/.*\.cs$

ci(rust): replace sccache with Swatinem/rust-cache (#2679)
  .github/actions/csharp-dotnet/pre-merge/action.yml
  .github/actions/go/pre-merge/action.yml
  .github/actions/java-gradle/pre-merge/action.yml
  .github/actions/node-npm/pre-merge/action.yml
  .github/actions/python-maturin/pre-merge/action.yml
  .github/actions/rust/pre-merge/action.yml
  .github/actions/utils/setup-rust-with-cache/action.yml
  .github/workflows/_build_python_wheels.yml
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/_publish_rust_crates.yml
  .github/workflows/_test_bdd.yml
  .github/workflows/_test_examples.yml
  .github/workflows/publish.yml
Due: none

feat(cluster): add `Partitions` trait that unifies both single-node and VSR operations (#2620)
  core/partitions/src/lib.rs
  core/partitions/src/types.rs
Due: cargo-fmt, cargo-clippy

ci(rust): add code coverage reporting with Codecov (#2677)
  .github/actions/csharp-dotnet/pre-merge/action.yml
  .github/actions/go/pre-merge/action.yml
  .github/actions/java-gradle/pre-merge/action.yml
  .github/actions/node-npm/pre-merge/action.yml
  .github/actions/python-maturin/pre-merge/action.yml
  .github/actions/rust/post-merge/action.yml
  .github/actions/rust/pre-merge/action.yml
  .github/actions/utils/setup-go-with-cache/action.yml
  .github/actions/utils/setup-rust-with-cache/action.yml
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/_common.yml
  .github/workflows/_test.yml
  .github/workflows/_test_bdd.yml
  .github/workflows/_test_examples.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  codecov.yml
Due: none

fix(server): properly cleanup messages in message cleaner (#2670)
  core/common/src/utils/duration.rs
  core/integration/tests/config_provider/mod.rs
  core/integration/tests/server/message_cleanup.rs
  core/integration/tests/server/mod.rs
  core/integration/tests/server/scenarios/message_cleanup_scenario.rs
  core/integration/tests/server/scenarios/mod.rs
  core/integration/tests/server/specific.rs
  core/server/config.toml
  core/server/src/bootstrap.rs
  core/server/src/configs/defaults.rs
  core/server/src/configs/displays.rs
  core/server/src/configs/system.rs
  core/server/src/configs/validators.rs
  core/server/src/shard/system/messages.rs
  core/server/src/shard/system/partitions.rs
  core/server/src/shard/system/segments.rs
  core/server/src/shard/tasks/periodic/message_cleaner.rs
  core/server/src/streaming/segments/segment.rs
Due: taplo, cargo-fmt, cargo-clippy

chore: update coverage badge (#2680)
  README.md
Due: markdownlint

fix(ci): fix example jobs, pin images (#2681)
  .github/actions/utils/setup-rust-with-cache/action.yml
  .github/workflows/_test.yml
  .github/workflows/_test_examples.yml
  core/integration/tests/connectors/fixtures/quickwit/container.rs
  core/integration/tests/connectors/fixtures/wiremock.rs
  foreign/node/package.json
Due: cargo-fmt, cargo-clippy

fix(server): memory leak in segment rotation (#2686)
  Cargo.lock
  core/integration/Cargo.toml
  core/integration/tests/server/scenarios/segment_rotation_race_scenario.rs
  core/server/src/shard/system/segments.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci(go): enable auto-publish for Go SDK on post-merge (#2692)
  .github/config/publish.yml
  .github/workflows/post-merge.yml
  .github/workflows/publish.yml
  foreign/go/contracts/version.go
  scripts/extract-version.sh
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

ci(python): enable auto-publish for Python SDK on post-merge (#2693)
  .github/config/publish.yml
  .github/workflows/post-merge.yml
Due: none

fix(python): gate Unix-only APIs to fix Windows SDK build (#2695)
  core/common/Cargo.toml
  core/common/src/sender/mod.rs
Due: taplo, cargo-fmt, cargo-sort, cargo-clippy

ci(js): enable auto-publish for Node SDK on post-merge (#2694)
  .github/workflows/post-merge.yml
Due: none

ci(java): enable auto-publish for Java SDK with SNAPSHOT semantics (#2696)
  .github/workflows/post-merge.yml
  .github/workflows/publish.yml
Due: none

refactor(csharp): change expiry handling to use TimeSpan (#2690)
  foreign/csharp/Benchmarks/Program.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/FetchMessagesFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/FlushMessageFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/OffsetFixtures.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/PartitionsFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/SendMessageFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Helpers/TopicFactory.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Models/CreateTestTopic.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Models/UpdateTestTopic.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/PersonalAccessTokenTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/StreamsTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/TopicsTests.cs
  foreign/csharp/Iggy_SDK/Contracts/TopicResponse.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyPersonalAccessToken.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyTopic.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/csharp/Iggy_SDK/JsonConverters/TimeSpanConverter.cs
  foreign/csharp/Iggy_SDK/Mappers/BinaryMapper.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherBuilder.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherConfig.cs
  foreign/csharp/Iggy_SDK/Utils/DurationHelpers.cs
  foreign/csharp/Iggy_SDK_Tests/UtilityTests/DurationHelperTests.cs
Due: csharp-dotnet-format

feat(csharp): implement get_snapshot method in C# SDK (#2698)
  foreign/csharp/Iggy_SDK.Tests.Integration/SystemTests.cs
  foreign/csharp/Iggy_SDK/Contracts/Tcp/TcpContracts.cs
  foreign/csharp/Iggy_SDK/Enums/SnapshotCompression.cs
  foreign/csharp/Iggy_SDK/Enums/SystemSnapshotType.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggySystem.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
Due: csharp-dotnet-format

feat(simulator): implement bare bone version of simulator (#2688)
  .github/workflows/_common.yml
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/common/src/sender/mod.rs
  core/common/src/types/consensus/header.rs
  core/common/src/types/consensus/message.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/vsr_timeout.rs
  core/journal/src/lib.rs
  core/message_bus/src/cache/connection.rs
  core/message_bus/src/lib.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/lib.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/mux.rs
  core/metadata/src/stm/stream.rs
  core/simulator/Cargo.toml
  core/simulator/src/bus.rs
  core/simulator/src/client.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/main.rs
  core/simulator/src/replica.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(server): move `IggyBatchSet` and it's utilities to common (#2704)
  Cargo.lock
  core/common/Cargo.toml
  core/common/src/deduplication/message_deduplicator.rs
  core/common/src/deduplication/mod.rs
  core/common/src/lib.rs
  core/common/src/types/message/indexes_mut.rs
  core/common/src/types/message/message_header_view_mut.rs
  core/common/src/types/message/message_view_mut.rs
  core/common/src/types/message/messages_batch_mut.rs
  core/common/src/types/message/messages_batch_set.rs
  core/common/src/types/message/mod.rs
  core/common/src/types/message/poll_metadata.rs
  core/common/src/utils/random_id.rs
  core/server/Cargo.toml
  core/server/src/binary/handlers/messages/poll_messages_handler.rs
  core/server/src/http/http_shard_wrapper.rs
  core/server/src/shard/system/messages.rs
  core/server/src/shard/transmission/frame.rs
  core/server/src/streaming/deduplication/mod.rs
  core/server/src/streaming/partitions/helpers.rs
  core/server/src/streaming/partitions/local_partition.rs
  core/server/src/streaming/partitions/ops.rs
  core/server/src/streaming/segments/indexes/mod.rs
  core/server/src/streaming/segments/types/mod.rs
  core/server/src/streaming/utils/mod.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci(Java): add JaCoCo code coverage with Codecov integration (#2623)
  .github/actions/java-gradle/pre-merge/action.yml
  .github/workflows/_test.yml
  codecov.yml
  foreign/java/build.gradle.kts
  foreign/java/buildSrc/src/main/kotlin/iggy.java-common-conventions.gradle.kts
  foreign/java/gradle/libs.versions.toml
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesSerializer.java
Due: taplo, java-gradle-check

fix(java): resolve Gradle 9 task dependency error in Pinot connector publish (#2706)
  foreign/java/external-processors/iggy-connector-pinot/build.gradle.kts
  foreign/java/external-processors/iggy-connector-pinot/docker-compose.yml
Due: java-gradle-check

ci(java): add Java coverage baseline to post-merge workflow (#2707)
  .github/workflows/post-merge.yml
  codecov.yml
Due: none

refactor(metadata): invert state handler dependency (#2705)
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
Due: cargo-fmt, cargo-clippy

fix(connectors): harden plugin loading and config metadata (#2713)
  Cargo.lock
  DEPENDENCIES.md
  core/connectors/README.md
  core/connectors/runtime/Cargo.toml
  core/connectors/runtime/example_config/connectors/iceberg_sink.toml
  core/connectors/runtime/example_config/connectors/quickwit_sink.toml
  core/connectors/runtime/example_config/connectors/random_source_v0.toml
  core/connectors/runtime/example_config/connectors/random_source_v1.toml
  core/connectors/runtime/example_config/connectors/stdout_sink.toml
  core/connectors/runtime/src/configs/connectors/local_provider.rs
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/sink.rs
  core/connectors/runtime/src/source.rs
  core/connectors/sinks/README.md
  core/connectors/sinks/elasticsearch_sink/config.toml
  core/connectors/sinks/iceberg_sink/config.toml
  core/connectors/sinks/postgres_sink/config.toml
  core/connectors/sinks/quickwit_sink/config.toml
  core/connectors/sinks/stdout_sink/config.toml
  core/connectors/sources/README.md
  core/connectors/sources/elasticsearch_source/config.toml
  core/connectors/sources/postgres_source/config.toml
  core/connectors/sources/random_source/config.toml
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(java): fix integration test failure (#2703)
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncClientIntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncPollMessageTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/IntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilderTest.java
Due: java-gradle-check

feat(repo): add structured YAML issue forms (#2717)
  .github/BOT_ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  PULL_REQUEST_TEMPLATE.md
Due: markdownlint

feat(csharp): implement delete_segments method (#2701)
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/SegmentsFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/SegmentsTests.cs
  foreign/csharp/Iggy_SDK/Contracts/Tcp/TcpContracts.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyClient.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggySegment.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/csharp/Iggy_SDK/Utils/CommandCodes.cs
Due: csharp-dotnet-format

fix(repo): fix path in bug report template description (#2721)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

fix(server): hash passwords before persisting to state log (#2724)
  core/integration/tests/data_integrity/mod.rs
  core/integration/tests/data_integrity/verify_user_login_after_restart.rs
  core/server/src/http/users.rs
  core/server/src/shard/handlers.rs
Due: cargo-fmt, cargo-clippy

deps(server,sdk): bump compio to 0.18.0 with unified feature-based imports (#2650)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/common/Cargo.toml
  core/common/src/alloc/buffer.rs
  core/common/src/sender/mod.rs
  core/common/src/sender/quic_sender.rs
  core/common/src/sender/tcp_tls_sender.rs
  core/common/src/sender/websocket_sender.rs
  core/common/src/sender/websocket_tls_sender.rs
  core/server/Cargo.toml
  core/server/src/http/http_server.rs
  core/server/src/quic/listener.rs
  core/server/src/quic/quic_server.rs
  core/server/src/server_error.rs
  core/server/src/shard/handlers.rs
  core/server/src/tcp/tcp_listener.rs
  core/server/src/tcp/tcp_tls_listener.rs
  core/server/src/websocket/websocket_listener.rs
  core/server/src/websocket/websocket_tls_listener.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

deps: bump workspace dependencies and migrate to rand 0.10 (#2727)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/bench/report/src/types/numeric_parameter.rs
  core/bench/src/utils/batch_generator.rs
  core/connectors/sources/random_source/src/lib.rs
  core/consensus/src/vsr_timeout.rs
  core/integration/src/harness/handle/server.rs
  core/server/Cargo.toml
  core/server/src/streaming/utils/crypto.rs
  core/tools/src/data-seeder/seeder.rs
  examples/rust/src/shared/messages_generator.rs
  examples/rust/src/sink-data-producer/main.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(metadata): impl Snapshot interface for Mux state machine (#2675)
  Cargo.lock
  core/metadata/Cargo.toml
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stats/mod.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/mux.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(server): cooperative partition reassignment for consumer groups (#2734)
  Cargo.lock
  DEPENDENCIES.md
  core/integration/tests/connectors/postgres/postgres_source.rs
  core/integration/tests/data_integrity/mod.rs
  core/integration/tests/data_integrity/verify_consumer_group_partition_assignment.rs
  core/server/Cargo.toml
  core/server/config.toml
  core/server/src/bootstrap.rs
  core/server/src/configs/defaults.rs
  core/server/src/configs/displays.rs
  core/server/src/configs/server.rs
  core/server/src/metadata/absorb.rs
  core/server/src/metadata/consumer_group.rs
  core/server/src/metadata/consumer_group_member.rs
  core/server/src/metadata/ops.rs
  core/server/src/metadata/partition.rs
  core/server/src/metadata/reader.rs
  core/server/src/metadata/writer.rs
  core/server/src/shard/handlers.rs
  core/server/src/shard/mod.rs
  core/server/src/shard/system/consumer_groups.rs
  core/server/src/shard/system/consumer_offsets.rs
  core/server/src/shard/system/messages.rs
  core/server/src/shard/system/partitions.rs
  core/server/src/shard/system/utils.rs
  core/server/src/shard/tasks/periodic/mod.rs
  core/server/src/shard/tasks/periodic/revocation_timeout.rs
  core/server/src/shard/transmission/frame.rs
  core/server/src/shard/transmission/message.rs
  foreign/csharp/Iggy_SDK.Tests.Integration/ConsumerGroupTests.cs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy, csharp-dotnet-format

feat(java): Add test for AsyncIggyTcpClientBuilder (#2726)
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
Due: java-gradle-check

fix(server): fix stream stats corruption on topic purge (#2736)
  core/integration/tests/server/scenarios/stream_size_validation_scenario.rs
  core/server/src/shard/system/topics.rs
  core/server/src/streaming/stats/mod.rs
Due: cargo-fmt, cargo-clippy

fix(connectors): prevent state loss on source connector restart (#2743)
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/source.rs
  core/connectors/runtime/src/state.rs
Due: cargo-fmt, cargo-clippy

fix(ci): replace BREAKING body match with breaking:storage label check (#2742)
  .github/actions/rust/pre-merge/action.yml
Due: none

refactor(consensus): decouple pipeline from VsrConsensus internals (#2740)
  core/consensus/src/impls.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partitions.rs
  core/simulator/src/deps.rs
  core/simulator/src/replica.rs
Due: cargo-fmt, cargo-clippy
