Repository yonasBSD/iggy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, licenses-list, rust-version-sync, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy, go-fmt, go-mod-tidy, golangci-lint-foreign, golangci-lint-bdd, golangci-lint-examples, node-eslint, web-lint, java-gradle-check, csharp-dotnet-format

markdownlint:
  name: markdownlint
  entry: ./scripts/ci/markdownlint.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

licenses-list:
  name: licenses list
  entry: ./scripts/ci/licenses-list.sh
  args:
  - --fix
  language: system
  pass_filenames: false

rust-version-sync:
  name: rust version sync
  entry: ./scripts/ci/sync-rust-version.sh
  args:
  - --fix
  language: system
  pass_filenames: false

python-version-sync:
  name: python sdk version sync
  entry: ./scripts/ci/python-version-sync.sh
  args:
  - --fix
  language: system
  pass_filenames: false

taplo:
  name: taplo (TOML format)
  entry: ./scripts/ci/taplo.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: cargo sort --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --all-features
  - --all-targets
  - --manifest-path
  - Cargo.toml
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push

go-fmt:
  name: go fmt
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -d "$dir" ] && (cd "$dir" && gofmt -w -s .); done'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -f "$dir/go.mod" ] && (cd "$dir" && go mod tidy && git diff --exit-code go.mod go.sum); done'
  language: system
  pass_filenames: false

golangci-lint-foreign:
  name: golangci-lint (foreign/go)
  entry: bash -c 'cd foreign/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-bdd:
  name: golangci-lint (bdd/go)
  entry: bash -c 'cd bdd/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-examples:
  name: golangci-lint (examples/go)
  entry: bash -c 'cd examples/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

node-eslint:
  name: node eslint
  entry: bash -c 'for dir in foreign/node examples/node; do [ -f "$dir/package.json" ] && (cd "$dir" && npm run lint); done'
  language: system
  pass_filenames: false

web-lint:
  name: web lint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

java-gradle-check:
  name: java gradle check
  entry: bash -c 'for dir in foreign/java bdd/java examples/java; do [ -f "$dir/build.gradle.kts" ] && (cd "$dir" && ./gradlew check -x test); done'
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor(partitions): add plane trait and refactor partitions module (#2744)
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/lib.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/lib.rs
  core/simulator/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix(security): harden all deserializers against malformed packets (#2741)
  core/common/src/commands/consumer_groups/create_consumer_group.rs
  core/common/src/commands/consumer_offsets/delete_consumer_offset.rs
  core/common/src/commands/consumer_offsets/get_consumer_offset.rs
  core/common/src/commands/consumer_offsets/store_consumer_offset.rs
  core/common/src/commands/messages/flush_unsaved_buffer.rs
  core/common/src/commands/messages/poll_messages.rs
  core/common/src/commands/partitions/create_partitions.rs
  core/common/src/commands/partitions/delete_partitions.rs
  core/common/src/commands/personal_access_tokens/create_personal_access_token.rs
  core/common/src/commands/personal_access_tokens/delete_personal_access_token.rs
  core/common/src/commands/personal_access_tokens/login_with_personal_access_token.rs
  core/common/src/commands/segments/delete_segments.rs
  core/common/src/commands/streams/create_stream.rs
  core/common/src/commands/streams/update_stream.rs
  core/common/src/commands/topics/create_topic.rs
  core/common/src/commands/topics/update_topic.rs
  core/common/src/commands/users/change_password.rs
  core/common/src/commands/users/create_user.rs
  core/common/src/commands/users/login_user.rs
  core/common/src/commands/users/update_permissions.rs
  core/common/src/commands/users/update_user.rs
  core/common/src/types/identifier/mod.rs
  core/common/src/types/message/message_view.rs
  core/common/src/types/message/messages_batch.rs
  core/common/src/types/message/messages_batch_mut.rs
  core/common/src/types/message/partitioning.rs
  core/server/src/binary/handlers/messages/send_messages_handler.rs
  core/server/src/http/http_shard_wrapper.rs
Due: cargo-fmt, cargo-clippy

fix(sdk): add leader redirection logic for `login_with_personal_access_token` (#2752)
  core/sdk/src/clients/binary_personal_access_tokens.rs
Due: cargo-fmt, cargo-clippy

refactor(java): extract base integration test class (#2749)
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/BaseIntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncClientIntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncPollMessageTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/IntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/ConsumerGroupsHttpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/ConsumerOffsetsHttpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/HttpClientFactory.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/MessagesHttpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/PartitionsHttpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/PersonalAccessTokensHttpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/StreamHttpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/SystemHttpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/TopicsHttpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/UsersHttpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/ConsumerGroupsTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/ConsumerOffsetsTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/MessagesTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/PartitionsTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/PersonalAccessTokensTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/StreamTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/SystemTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/TcpClientFactory.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/TopicsTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/UsersTcpClientTest.java
Due: java-gradle-check

ci(java): detect Netty ByteBuf memory leaks in CI tests (#2755)
  .github/actions/java-gradle/pre-merge/action.yml
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/BaseIntegrationTest.java
Due: java-gradle-check

chore(repo): bump version of all packages for new release (#2758)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/ai/mcp/Cargo.toml
  core/bench/Cargo.toml
  core/bench/dashboard/frontend/Cargo.toml
  core/bench/dashboard/server/Cargo.toml
  core/binary_protocol/Cargo.toml
  core/cli/Cargo.toml
  core/common/Cargo.toml
  core/connectors/runtime/Cargo.toml
  core/connectors/runtime/README.md
  core/connectors/sdk/Cargo.toml
  core/connectors/sinks/elasticsearch_sink/Cargo.toml
  core/connectors/sinks/iceberg_sink/Cargo.toml
  core/connectors/sinks/postgres_sink/Cargo.toml
  core/connectors/sinks/quickwit_sink/Cargo.toml
  core/connectors/sinks/stdout_sink/Cargo.toml
  core/connectors/sources/elasticsearch_source/Cargo.toml
  core/connectors/sources/postgres_source/Cargo.toml
  core/connectors/sources/random_source/Cargo.toml
  core/sdk/Cargo.toml
  core/server/Cargo.toml
  examples/node/package-lock.json
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/go/contracts/version.go
  foreign/java/gradle.properties
  foreign/node/package-lock.json
  foreign/node/package.json
  foreign/python/Cargo.toml
  foreign/python/pyproject.toml
  helm/charts/iggy/Chart.yaml
  helm/charts/iggy/values.yaml
  scripts/extract-version.sh
  web/package-lock.json
  web/package.json
Due: markdownlint, licenses-list, python-version-sync, taplo, cargo-sort, go-fmt, go-mod-tidy, golangci-lint-foreign

docs(java): add async client JavaDoc and usage guide (#2711)
  examples/java/README.md
  examples/java/build.gradle.kts
  examples/java/src/main/java/org/apache/iggy/examples/async/AsyncConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/async/AsyncConsumerExample.java
  examples/java/src/main/java/org/apache/iggy/examples/async/AsyncProducer.java
  foreign/java/README.md
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/ConsumerGroupsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/MessagesClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/StreamsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/TopicsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/UsersClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/package-info.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/package-info.java
Due: markdownlint, java-gradle-check

refactor(metadata): improve the stm update method (#2757)
  core/common/src/lib.rs
  core/common/src/types/either.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/mux.rs
Due: cargo-fmt, cargo-clippy

refactor(consensus): couple message assoc type (#2761)
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partitions.rs
Due: cargo-fmt, cargo-clippy

fix(ci): skip stable Docker tags in check-tags during auto-publish (#2759)
  .github/workflows/publish.yml
Due: none

feat(web): update benchmark dashboard dark mode to Iggy brand colors (#2738)
  core/bench/dashboard/frontend/assets/style.css
  core/bench/dashboard/frontend/src/components/chart/plot_trend.rs
  core/bench/report/src/plotting/chart.rs
Due: cargo-fmt, cargo-clippy

fix(connectors): don't use posix function names as FFI interface (#2771)
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/sink.rs
  core/connectors/runtime/src/source.rs
  core/connectors/sdk/src/sink.rs
  core/connectors/sdk/src/source.rs
Due: cargo-fmt, cargo-clippy

chore(python): replace pip with uv (#2767)
  .github/actions/python-maturin/pre-merge/action.yml
  .github/workflows/_build_python_wheels.yml
  .github/workflows/_test_examples.yml
  bdd/docker-compose.yml
  bdd/python/Dockerfile
  bdd/python/pyproject.toml
  bdd/python/uv.lock
  examples/python/.gitignore
  examples/python/README.md
  examples/python/pyproject.toml
  examples/python/uv.lock
  foreign/python/Dockerfile.test
  foreign/python/README.md
  foreign/python/scripts/test.sh
  foreign/python/uv.lock
  scripts/run-python-examples-from-readme.sh
Due: markdownlint, taplo

feat(bench): add --username/--password and reuse admin client (#2778)
  core/bench/src/actors/consumer/client/high_level.rs
  core/bench/src/actors/consumer/client/low_level.rs
  core/bench/src/actors/producer/client/high_level.rs
  core/bench/src/actors/producer/client/low_level.rs
  core/bench/src/analytics/report_builder.rs
  core/bench/src/args/common.rs
  core/bench/src/args/examples.rs
  core/bench/src/benchmarks/benchmark.rs
  core/bench/src/benchmarks/common.rs
  core/bench/src/runner.rs
  core/bench/src/utils/client_factory.rs
  core/bench/src/utils/mod.rs
Due: cargo-fmt, cargo-clippy

feat(sdk): support hostnames in QUIC and WebSocket clients (#2768)
  core/bench/src/args/examples.rs
  core/common/src/types/args/mod.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/websocket/websocket_client.rs
Due: cargo-fmt, cargo-clippy

refactor(csharp): rewrite integration tests to remove DependsOn (#2710)
  foreign/csharp/Iggy_SDK.Tests.Integration/ConsumerGroupTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/FetchMessagesTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/ConsumerGroupFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/FetchMessagesFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/FlushMessageFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/OffsetFixtures.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/PartitionsFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/PersonalAccessTokenFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/SegmentsFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/SendMessageFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/StreamsFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/SystemFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/TopicsFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/UsersFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/FlushMessagesTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Helpers/NameIdHelpers.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Helpers/TopicFactory.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Models/CreateTestTopic.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Models/DummyMessage.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Models/UpdateTestTopic.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/OffsetTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/PartitionsTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/PersonalAccessTokenTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/SegmentsTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/SendMessagesTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/StreamsTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/SystemTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/TopicsTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/UsersTests.cs
Due: csharp-dotnet-format

fix(ci): pin hwloc to v2.12.2 on macOS (#2784)
  .github/actions/utils/setup-rust-with-cache/action.yml
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  licenses-list: any of: ^Cargo\.lock$
  rust-version-sync: any of: ^rust-toolchain\.toml$
  python-version-sync: any of: ^foreign/python/(Cargo\.toml|pyproject\.toml)$
  taplo: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: (^|/)Cargo\.toml$
  cargo-clippy: any of: \.rs$
  go-fmt: any of: ^(foreign|bdd|examples)/go/.*\.go$
  go-mod-tidy: any of: ^(foreign|bdd|examples)/go/(.*\.go|go\.mod|go\.sum)$
  golangci-lint-foreign: any of: ^foreign/go/.*\.go$
  golangci-lint-bdd: any of: ^bdd/go/.*\.go$
  golangci-lint-examples: any of: ^examples/go/.*\.go$
  node-eslint: any of: ^(foreign|examples)/node/.*\.ts$
  web-lint: any of: ^web/.*\.(ts|js|svelte)$
  java-gradle-check: any of: ^(foreign|bdd|examples)/java/.*\.(java|kt|kts)$
  csharp-dotnet-format: any of: ^(foreign|examples)/csharp/.*\.cs$
