Repository yonasBSD/iggy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, licenses-list, rust-version-sync, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy, go-fmt, go-mod-tidy, golangci-lint-foreign, golangci-lint-bdd, golangci-lint-examples, node-eslint, web-lint, java-gradle-check, csharp-dotnet-format

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  licenses-list: any of: ^Cargo\.lock$
  rust-version-sync: any of: ^rust-toolchain\.toml$
  python-version-sync: any of: ^foreign/python/(Cargo\.toml|pyproject\.toml)$
  taplo: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: (^|/)Cargo\.toml$
  cargo-clippy: any of: \.rs$
  go-fmt: any of: ^(foreign|bdd|examples)/go/.*\.go$
  go-mod-tidy: any of: ^(foreign|bdd|examples)/go/(.*\.go|go\.mod|go\.sum)$
  golangci-lint-foreign: any of: ^foreign/go/.*\.go$
  golangci-lint-bdd: any of: ^bdd/go/.*\.go$
  golangci-lint-examples: any of: ^examples/go/.*\.go$
  node-eslint: any of: ^(foreign|examples)/node/.*\.ts$
  web-lint: any of: ^web/.*\.(ts|js|svelte)$
  java-gradle-check: any of: ^(foreign|bdd|examples)/java/.*\.(java|kt|kts)$
  csharp-dotnet-format: any of: ^(foreign|examples)/csharp/.*\.cs$

fix(ci): repair and harden pre-commit hooks and CI checks (#3426)
  .github/workflows/_common.yml
  .pre-commit-config.yaml
  .typos.toml
  AGENTS.md
  assets/logo/SVG/iggy-apache-b&wdark.svg
  assets/logo/SVG/iggy-apache-b&wlight.svg
  assets/logo/SVG/iggy-apache-color-darkbg.svg
  assets/logo/SVG/iggy-apache-color-lightbg.svg
  assets/logo/SVG/iggy-apache-logo-wo-sygnet-dark.svg
  assets/logo/SVG/iggy-apache-logo-wo-sygnet-light.svg
  assets/logo/SVG/iggy-apache-sygnet-b&wdark.svg
  assets/logo/SVG/iggy-apache-sygnet-b&wlight.svg
  assets/logo/SVG/iggy-apache-sygnet-color-darkbg.svg
  assets/logo/SVG/iggy-apache-sygnet-color-lightbg.svg
  bdd/python/uv.lock
  examples/python/uv.lock
  foreign/csharp/LICENSE
  foreign/go/LICENSE
  foreign/node/LICENSE
  foreign/python/LICENSE
  scripts/ci/license-headers.sh
  scripts/ci/sync-python-interpreter-version.sh
  scripts/ci/sync-rustc-version.sh
  web/.env
  web/static/iggy-apache-darkbg.svg
  web/static/iggy-apache-lightbg.svg
Due: markdownlint, taplo

chore(rust): bump toolchain to 1.96 and sync stray Dockerfiles (#3443)
  .github/workflows/post-merge.yml
  Dockerfile
  bdd/Dockerfile
  bdd/java/Dockerfile
  bdd/python/Dockerfile
  bdd/rust/Dockerfile
  core/ai/mcp/Dockerfile
  core/bench/dashboard/server/Dockerfile
  core/connectors/runtime/Dockerfile
  core/server-ng/Dockerfile
  core/server/Dockerfile
  foreign/php/Dockerfile.test
  rust-toolchain.toml
  scripts/ci/sync-rustc-version.sh
Due: rust-version-sync, taplo

feat(php): fill Packagist metadata (#3380)
  foreign/php/.gitattributes
  foreign/php/composer.json
Due: none

feat(go): implement golang sdk logger (#3379)
  foreign/go/client/iggy_client.go
  foreign/go/client/iggy_client_test.go
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_core_test.go
  foreign/go/client/tcp/tcp_session_management.go
  foreign/go/internal/util/leader_aware.go
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

feat(cluster): authenticate replica peers with PSK + BLAKE3 handshake (#3425)
  Cargo.lock
  Cargo.toml
  core/binary_protocol/src/consensus/command.rs
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/lib.rs
  core/configs/src/server_config/cluster.rs
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/http.rs
  core/configs/src/server_config/system.rs
  core/configs/src/server_config/validators.rs
  core/message_bus/Cargo.toml
  core/message_bus/src/connector.rs
  core/message_bus/src/replica/auth.rs
  core/message_bus/src/replica/io.rs
  core/message_bus/src/replica/listener.rs
  core/message_bus/src/replica/mod.rs
  core/message_bus/tests/backpressure.rs
  core/message_bus/tests/connection_lost_notify.rs
  core/message_bus/tests/directional_connection.rs
  core/message_bus/tests/head_of_line.rs
  core/message_bus/tests/reconnect.rs
  core/message_bus/tests/reconnect_skip_connected.rs
  core/message_bus/tests/replica_auth_handshake.rs
  core/message_bus/tests/replica_roundtrip.rs
  core/message_bus/tests/shard_zero_gating.rs
  core/message_bus/tests/tcp_tls_client_roundtrip.rs
  core/message_bus/tests/vectored_batch.rs
  core/message_bus/tests/wss_client_roundtrip.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(server-ng): add partition reconciliation loop (#3436)
  Cargo.lock
  core/binary_protocol/src/responses/topics/create_topic.rs
  core/configs/src/server_config/sharding.rs
  core/configs/src/server_config/validators.rs
  core/consensus/src/metadata_helpers.rs
  core/consensus/src/plane_helpers.rs
  core/message_bus/src/lib.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/lib.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/partitions/Cargo.toml
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/messages_writer.rs
  core/server-ng/Cargo.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/lib.rs
  core/server-ng/src/partition_helpers.rs
  core/server-ng/src/partition_reconciler.rs
  core/server-ng/tests/sdk_e2e.rs
  core/server/src/main.rs
  core/server/src/shard/system/partitions.rs
  core/server_common/src/segment_storage/index_writer.rs
  core/server_common/src/segment_storage/messages_writer.rs
  core/server_common/src/sharding/partition_location.rs
  core/shard/Cargo.toml
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/router.rs
  core/shard/src/shards_table.rs
  core/simulator/Cargo.toml
  core/simulator/src/bus.rs
  core/simulator/src/replica.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(deps): bump java gradle dependencies (#3362)
  bdd/java/build.gradle.kts
  bdd/java/gradle/wrapper/gradle-wrapper.properties
  bdd/java/gradlew
  examples/java/build.gradle.kts
  examples/java/gradle/wrapper/gradle-wrapper.properties
  examples/java/gradlew
  foreign/java/external-processors/iggy-connector-pinot/src/main/java/org/apache/iggy/connector/pinot/consumer/IggyMessageBatch.java
  foreign/java/external-processors/iggy-connector-pinot/src/main/java/org/apache/iggy/connector/pinot/metadata/IggyStreamMetadataProvider.java
  foreign/java/external-processors/iggy-connector-pinot/src/test/java/org/apache/iggy/connector/pinot/consumer/IggyMessageBatchTest.java
  foreign/java/gradle/libs.versions.toml
  foreign/java/gradle/wrapper/gradle-wrapper.properties
  foreign/java/gradlew
Due: taplo, java-gradle-check

test(php): add BDD suite wiring (#3410)
  .github/config/components.yml
  bdd/README.md
  bdd/docker-compose.coverage.yml
  bdd/docker-compose.yml
  bdd/php/Dockerfile
  bdd/php/phpunit.xml.dist
  bdd/php/tests/BasicMessagingFeatureTest.php
  scripts/ci/sync-rustc-version.sh
  scripts/run-bdd-tests.sh
Due: markdownlint

test(python): Add tests for python sdk (#3432)
  foreign/python/pyproject.toml
  foreign/python/src/client.rs
  foreign/python/src/consumer.rs
  foreign/python/src/identifier.rs
  foreign/python/src/iterator.rs
  foreign/python/src/lib.rs
  foreign/python/src/send_message.rs
  foreign/python/tests/conftest.py
  foreign/python/tests/test_connectivity.py
  foreign/python/tests/test_consumer_group.py
  foreign/python/tests/test_iggy_sdk.py
  foreign/python/tests/test_message_operations.py
  foreign/python/tests/test_stream.py
  foreign/python/tests/test_tls.py
  foreign/python/tests/test_topic.py
Due: python-version-sync, taplo, cargo-fmt, cargo-clippy

ci: fix edge-gate over-publish and retry license check (#3468)
  scripts/ci/edge-affected-images.sh
  scripts/ci/third-party-licenses.sh
Due: none

ci: one dependabot PR per component for all update types (#3467)
  .github/dependabot.yml
  .github/workflows/issue-labeler-assigner.yml
Due: none

ci: stop Dependabot bumping iggy in java examples (#3478)
  .github/dependabot.yml
Due: none

ci: ignore go and dotnet base-image bumps (#3484)
  .github/dependabot.yml
Due: none

fix(bdd): make ./scripts/run-bdd-tests.sh actually support FEATURE flag (#3384)
  .github/config/components.yml
  bdd/README.md
  bdd/docker-compose.cluster.yml
  bdd/docker-compose.coverage.yml
  bdd/docker-compose.server.yml
  bdd/docker-compose.yml
  bdd/go/Dockerfile
  bdd/go/tests/suite_test.go
  bdd/scenarios/basic_messaging.feature
  bdd/scenarios/leader_redirection.feature
  scripts/run-bdd-tests.sh
Due: markdownlint, go-fmt, go-mod-tidy, golangci-lint-bdd

ci: strip registry prefix from docker ignores (#3486)
  .github/dependabot.yml
Due: none

ci: split npm dependabot group into web and node (#3488)
  .github/dependabot.yml
Due: none

perf(go): pool the request-path wire payload (#3442)
  foreign/go/benchmarks/poll_encode_benchmark_test.go
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_core_encode_test.go
  foreign/go/client/tcp/tcp_core_test.go
  foreign/go/contracts/identifier.go
  foreign/go/contracts/identifier_test.go
  foreign/go/internal/command/message.go
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

fix(connectors): prevent silent failures in FlatBuffer conversions (#3431)
  core/connectors/sdk/src/transforms/flatbuffer_convert.rs
  core/connectors/sdk/src/transforms/mod.rs
  core/connectors/sdk/tests/flatbuffer_integration.rs
Due: cargo-fmt, cargo-clippy

feat(php): add consumer message iterator (#3463)
  foreign/php/README.md
  foreign/php/iggy-php.stubs.php
  foreign/php/src/consumer.rs
  foreign/php/src/lib.rs
  foreign/php/src/message_iterator.rs
  foreign/php/tests/IggySdkTest.php
Due: markdownlint, cargo-fmt, cargo-clippy

feat: replace ingress-nginx smoke cluster with Gateway API and Envoy Gateway (#3386)
  .github/config/components.yml
  scripts/ci/setup-helm-smoke-cluster.sh
  scripts/ci/test-helm.sh
Due: none

fix(web): use explicit css import to support latest vite build (#3502)
  web/src/styles/app.css
Due: none

feat(server-ng): add expired personal access token cleaner (#3448)
  core/integration/tests/connectors/random_source_liveness.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/lib.rs
  core/metadata/src/stm/user.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/lib.rs
  core/server-ng/src/login_register.rs
  core/server-ng/src/pat.rs
  core/server-ng/src/personal_access_token_cleaner.rs
  core/shard/src/lib.rs
  core/simulator/src/client.rs
Due: cargo-fmt, cargo-clippy

feat(java): add reporting suite to java bench (#3420)
  codecov.yml
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/actors/tcp/async/TcpAsyncPinnedProducerActor.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/runners/tcp/async/TcpAsyncPinnedProducer.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/cli/IggyBenchCommand.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/cli/PinnedProducerCommand.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/BenchmarkKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/TimeSeriesKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/FinalReport.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkCacheMetrics.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkCacheMetricsKey.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkHardware.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkParams.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkServerStats.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/BenchmarkRecord.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/DistributionPercentiles.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/GroupMetrics.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/GroupMetricsSummary.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/HistogramBin.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/IndividualMetrics.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/IndividualMetricsSummary.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/LatencyDistribution.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/LatencyMetrics.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/LogNormalParams.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/TimePoint.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/TimeSeries.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/FinalReportBuilder.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/GroupMetricsCalculator.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/HardwareInfoCollector.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/IndividualMetricsCalculator.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/ServerStatsCollector.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/StatsHelper.java
  foreign/java/bench/src/main/resources/logback.xml
Due: java-gradle-check

ci: auto-apply good first issue label from issue form checkbox (#3528)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/issue-labeler-assigner.yml
Due: none

chore(cpp): upgrade bazel to 9.1.1 (#3511)
  foreign/cpp/.bazelversion
  foreign/cpp/BUILD.bazel
  foreign/cpp/MODULE.bazel
  foreign/cpp/MODULE.bazel.lock
  foreign/cpp/tests/consumer_group/low_level_e2e.cpp
  foreign/cpp/tests/stream/low_level_e2e.cpp
  foreign/cpp/tests/unit_tests.cpp
Due: none

fix(partitions): persist data on vsr backups, add data integrity test (#3512)
  core/consensus/src/impls.rs
  core/consensus/src/plane_helpers.rs
  core/integration/tests/data_integrity/mod.rs
  core/integration/tests/data_integrity/verify_cluster_replica_data_identical.rs
  core/integration/tests/mod.rs
  core/journal/src/prepare_journal.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/messages_writer.rs
  core/shard/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(go): align TCP client logging with Rust SDK (#3464)
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_core_test.go
  foreign/go/client/tcp/tcp_session_management.go
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

chore(deps): bump Rust dependencies (#3551)
  Cargo.lock
  Cargo.toml
  core/server-ng/build.rs
  core/server/build.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(deps): bump python/cpp FFI SDK deps to latest (#3552)
  foreign/cpp/Cargo.toml
  foreign/python/Cargo.toml
Due: python-version-sync, taplo, cargo-sort

feat(cpp): add functions related to consumer groups and topics (#3506)
  foreign/cpp/src/client.rs
  foreign/cpp/src/consumer_group.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/topic.rs
  foreign/cpp/tests/client/low_level_e2e.cpp
  foreign/cpp/tests/consumer_group/low_level_e2e.cpp
  foreign/cpp/tests/stream/low_level_e2e.cpp
  foreign/cpp/tests/topic/low_level_e2e.cpp
Due: cargo-fmt, cargo-clippy

feat(ci,rust): declare MSRV 1.95 and enforce it in CI (#3558)
  .github/actions/rust/pre-merge/action.yml
  .github/config/components.yml
  Cargo.toml
  core/binary_protocol/Cargo.toml
  core/cli/Cargo.toml
  core/common/Cargo.toml
  core/sdk/Cargo.toml
  scripts/verify-crates-publish.sh
Due: taplo, cargo-sort

chore: remove `once_cell` in favor of the standard library (#3524)
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/Cargo.toml
  core/connectors/runtime/src/source.rs
  core/connectors/sdk/Cargo.toml
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/src/sink.rs
  core/connectors/sdk/src/source.rs
  core/connectors/sinks/README.md
  core/connectors/sinks/delta_sink/Cargo.toml
  core/connectors/sinks/elasticsearch_sink/Cargo.toml
  core/connectors/sinks/iceberg_sink/Cargo.toml
  core/connectors/sinks/postgres_sink/Cargo.toml
  core/connectors/sinks/quickwit_sink/Cargo.toml
  core/connectors/sinks/stdout_sink/Cargo.toml
  core/connectors/sources/README.md
  core/connectors/sources/elasticsearch_source/Cargo.toml
  core/connectors/sources/influxdb_source/Cargo.toml
  core/connectors/sources/influxdb_source/dependencies.md
  core/connectors/sources/postgres_source/Cargo.toml
  core/connectors/sources/random_source/Cargo.toml
  core/integration/Cargo.toml
  core/integration/src/harness/context.rs
  core/integration/tests/server/scenarios/log_rotation_scenario.rs
  core/server_common/Cargo.toml
  core/server_common/src/memory_pool.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(deps): bump gradle wrapper to 9.6.0 (#3563)
  bdd/java/Dockerfile
  bdd/java/gradle/wrapper/gradle-wrapper.properties
  bdd/java/gradlew
  examples/java/gradle/wrapper/gradle-wrapper.properties
  examples/java/gradlew
  foreign/java/build.gradle.kts
  foreign/java/gradle/wrapper/gradle-wrapper.properties
  foreign/java/gradlew
Due: java-gradle-check
