Repository yonasBSD/iggy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, licenses-list, rust-version-sync, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy, go-fmt, go-mod-tidy, golangci-lint-foreign, golangci-lint-bdd, golangci-lint-examples, node-eslint, web-lint, java-gradle-check, csharp-dotnet-format

markdownlint:
  name: markdownlint
  entry: ./scripts/ci/markdownlint.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

licenses-list:
  name: licenses list
  entry: ./scripts/ci/licenses-list.sh
  args:
  - --fix
  language: system
  pass_filenames: false

rust-version-sync:
  name: rust version sync
  entry: ./scripts/ci/sync-rust-version.sh
  args:
  - --fix
  language: system
  pass_filenames: false

python-version-sync:
  name: python sdk version sync
  entry: ./scripts/ci/python-version-sync.sh
  args:
  - --fix
  language: system
  pass_filenames: false

taplo:
  name: taplo (TOML format)
  entry: ./scripts/ci/taplo.sh
  args:
  - --fix
  - --staged
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-sort:
  name: cargo sort
  entry: cargo sort --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --all-features
  - --all-targets
  - --manifest-path
  - Cargo.toml
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push

go-fmt:
  name: go fmt
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -d "$dir" ] && (cd "$dir" && gofmt -w -s .); done'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'for dir in foreign/go bdd/go examples/go; do [ -f "$dir/go.mod" ] && (cd "$dir" && go mod tidy && git diff --exit-code go.mod go.sum); done'
  language: system
  pass_filenames: false

golangci-lint-foreign:
  name: golangci-lint (foreign/go)
  entry: bash -c 'cd foreign/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-bdd:
  name: golangci-lint (bdd/go)
  entry: bash -c 'cd bdd/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-examples:
  name: golangci-lint (examples/go)
  entry: bash -c 'cd examples/go && golangci-lint run --timeout=5m ./...'
  language: golang
  additional_dependencies:
  - github.com/golangci/golangci-lint/cmd/golangci-lint@v1.64.8
  pass_filenames: false
  stages:
  - pre-push

node-eslint:
  name: node eslint
  entry: bash -c 'for dir in foreign/node examples/node; do [ -f "$dir/package.json" ] && (cd "$dir" && npm run lint); done'
  language: system
  pass_filenames: false

web-lint:
  name: web lint
  entry: bash -c 'cd web && npm run lint'
  language: system
  pass_filenames: false

java-gradle-check:
  name: java gradle check
  entry: bash -c 'for dir in foreign/java bdd/java examples/java; do [ -f "$dir/build.gradle.kts" ] && (cd "$dir" && ./gradlew check -x test); done'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(server): implement TwoHalves buffer (#2944)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/iobuf/Cargo.toml
  core/iobuf/src/lib.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci: pin Docker actions to SHA and bump setup-bazel per ASF allowlist (#2999)
  .github/actions/utils/docker-buildx/action.yml
  .github/actions/utils/setup-cpp-with-cache/action.yml
  .github/workflows/_test.yml
  .github/workflows/publish.yml
Due: none

fix(ci): prevent flaky keyring tests by deferring unlock to test phase (#2995)
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/post-merge.yml
Due: none

ci: partition Rust tests across 2 parallel CI machines (#3003)
  .github/actions/rust/pre-merge/action.yml
  .github/config/components.yml
  .github/workflows/_test.yml
Due: none

fix: Helm chart install guidance and deployment defaults (#2976)
  helm/charts/iggy/Chart.yaml
  helm/charts/iggy/README.md
  helm/charts/iggy/templates/deployment.yaml
  helm/charts/iggy/values.yaml
Due: markdownlint

fix(bench): delete stale streams on re-run to prevent corrupted latency (#2991)
  core/bench/src/args/common.rs
  core/bench/src/args/examples.rs
  core/bench/src/benchmarks/benchmark.rs
  core/integration/src/bench_utils.rs
  core/integration/tests/data_integrity/verify_after_server_restart.rs
Due: cargo-fmt, cargo-clippy

refactor(csharp): rename asynchronous methods to have Async suffix (#2994)
  examples/csharp/src/Basic/Iggy_SDK.Examples.Basic.Consumer/Program.cs
  examples/csharp/src/Basic/Iggy_SDK.Examples.Basic.Producer/Program.cs
  examples/csharp/src/GettingStarted/Iggy_SDK.Examples.GettingStarted.Consumer/Program.cs
  examples/csharp/src/GettingStarted/Iggy_SDK.Examples.GettingStarted.Producer/Program.cs
  examples/csharp/src/MessageEnvelope/Iggy_SDK.Examples.MessageEnvelope.Consumer/Program.cs
  examples/csharp/src/MessageEnvelope/Iggy_SDK.Examples.MessageEnvelope.Producer/Program.cs
  examples/csharp/src/MessageHeaders/Iggy_SDK.Examples.MessageHeaders.Consumer/Program.cs
  examples/csharp/src/MessageHeaders/Iggy_SDK.Examples.MessageHeaders.Producer/Program.cs
  examples/csharp/src/NewSdk/Iggy_SDK.Examples.NewSdk.Consumer/Program.cs
  examples/csharp/src/NewSdk/Iggy_SDK.Examples.NewSdk.Producer/Program.cs
  examples/csharp/src/NewSdk/Iggy_SDK.Examples.NewSdk.Producer/Utils.cs
  examples/csharp/src/TcpTls/Iggy_SDK.Examples.TcpTls.Consumer/Program.cs
  examples/csharp/src/TcpTls/Iggy_SDK.Examples.TcpTls.Producer/Program.cs
  foreign/csharp/Benchmarks/Program.cs
  foreign/csharp/Iggy_SDK.Tests.BDD/StepDefinitions/BasicMessagingOperationsSteps.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/ClusterRedirectionTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/ConsumerGroupTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/IggyPublisherTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/IggyTlsConnectionTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/PersonalAccessTokenTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/SystemTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/UsersTests.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.cs
  foreign/csharp/Iggy_SDK/Contracts/Auth/GlobalPermissions.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyPersonalAccessToken.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyUsers.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisher.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherOfT.cs
  foreign/csharp/README.md
Due: markdownlint, csharp-dotnet-format

deps(rust): bump workspace dependencies (#3005)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/ai/mcp/src/main.rs
  core/bench/src/main.rs
  core/cli/src/args/mod.rs
  core/connectors/runtime/src/main.rs
  core/connectors/sinks/iceberg_sink/Cargo.toml
  core/connectors/sinks/iceberg_sink/src/catalog.rs
  core/consensus/src/impls.rs
  core/integration/tests/cli/general/test_overview_command.rs
  core/server/Cargo.toml
  core/server/src/main.rs
  core/server/src/websocket/mod.rs
  core/server/src/websocket/websocket_listener.rs
  core/server/src/websocket/websocket_tls_listener.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat: add UI /healthz endpoint (#2983)
  helm/charts/iggy/templates/deployment.yaml
  web/README.md
  web/src/routes/healthz/+server.ts
Due: markdownlint, web-lint

fix(docs): fix grammar errors in README, examples, and test comments (#3011)
  README.md
  core/integration/tests/server/scenarios/log_rotation_scenario.rs
  core/integration/tests/server/scenarios/stream_size_validation_scenario.rs
  examples/rust/src/message-headers/message-compression/README.md
Due: markdownlint, cargo-fmt, cargo-clippy

feat(rust): add sans-IO frame codec and command dispatch table (#2967)
  core/binary_protocol/src/codec.rs
  core/binary_protocol/src/codes.rs
  core/binary_protocol/src/consensus/operation.rs
  core/binary_protocol/src/dispatch.rs
  core/binary_protocol/src/error.rs
  core/binary_protocol/src/framing.rs
  core/binary_protocol/src/lib.rs
  core/binary_protocol/src/message_view.rs
  core/binary_protocol/src/primitives/identifier.rs
  core/binary_protocol/src/primitives/partitioning.rs
  core/binary_protocol/src/requests/users/create_user.rs
  core/binary_protocol/src/requests/users/update_permissions.rs
  core/binary_protocol/src/responses/clients/client_response.rs
  core/binary_protocol/src/responses/clients/get_client.rs
  core/binary_protocol/src/responses/consumer_groups/get_consumer_group.rs
  core/binary_protocol/src/responses/streams/get_stream.rs
  core/binary_protocol/src/responses/system/get_cluster_metadata.rs
  core/binary_protocol/src/responses/system/get_me.rs
  core/binary_protocol/src/responses/system/get_snapshot.rs
  core/binary_protocol/src/responses/system/get_stats.rs
  core/binary_protocol/src/responses/system/mod.rs
  core/binary_protocol/src/responses/topics/get_topic.rs
Due: cargo-fmt, cargo-clippy

chore(python): bump SDK to 0.7.4-dev1, modernize CI and deps (#2992)
  .github/actions/python-maturin/post-merge/action.yml
  foreign/python/Cargo.toml
  foreign/python/pyproject.toml
  foreign/python/uv.lock
Due: python-version-sync, taplo, cargo-sort

feat(go): implement binary reader/writer (#2986)
  foreign/go/internal/codec/reader.go
  foreign/go/internal/codec/reader_test.go
  foreign/go/internal/codec/roundtrip_test.go
  foreign/go/internal/codec/writer.go
  foreign/go/internal/codec/writer_test.go
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

fix(server): prevent consumer offset skip during concurrent produce+consume (#2958)
  core/common/src/types/message/messages_batch_mut.rs
  core/common/src/types/message/messages_batch_set.rs
  core/common/src/types/segment.rs
  core/integration/tests/server/message_cleanup.rs
  core/integration/tests/server/scenarios/concurrent_produce_consume_scenario.rs
  core/integration/tests/server/scenarios/message_cleanup_scenario.rs
  core/integration/tests/server/scenarios/mod.rs
  core/integration/tests/server/scenarios/reconnect_after_restart_scenario.rs
  core/integration/tests/server/scenarios/restart_offset_skip_scenario.rs
  core/integration/tests/server/specific.rs
  core/server/src/bootstrap.rs
  core/server/src/shard/mod.rs
  core/server/src/shard/system/messages.rs
  core/server/src/shard/system/partitions.rs
  core/server/src/shard/system/segments.rs
  core/server/src/streaming/partitions/journal.rs
  core/server/src/streaming/partitions/local_partition.rs
  core/server/src/streaming/partitions/log.rs
  core/server/src/streaming/partitions/mod.rs
  core/server/src/streaming/partitions/ops.rs
  core/server/src/streaming/partitions/ops_tests.rs
Due: cargo-fmt, cargo-clippy

fix(deps): resolve 15 Dependabot vulnerability alerts (#3016)
  core/bench/dashboard/server/Cargo.lock
  examples/node/package-lock.json
  examples/node/package.json
  foreign/node/package-lock.json
  foreign/node/package.json
  web/package-lock.json
  web/package.json
Due: none

feat(server): aligned buffer memory pool (#2921)
  Cargo.lock
  Cargo.toml
  core/common/Cargo.toml
  core/common/src/alloc/buffer.rs
  core/common/src/alloc/memory_pool.rs
  core/common/src/types/message/messages_batch_mut.rs
  core/common/src/types/segment_storage/index_reader.rs
  core/common/src/types/segment_storage/messages_reader.rs
  core/integration/tests/server/message_cleanup.rs
  core/integration/tests/server/scenarios/message_cleanup_scenario.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/lib.rs
  core/server/src/binary/handlers/messages/send_messages_handler.rs
  core/server/src/http/messages.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(server): add io_uring EINVAL diagnostics for shard executors (#3021)
  Cargo.toml
  core/server/src/bootstrap.rs
  core/server/src/diagnostics.rs
  core/server/src/main.rs
Due: taplo, cargo-fmt, cargo-sort, cargo-clippy

test(csharp): wait for HTTP readiness in fixture (#3024)
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
Due: csharp-dotnet-format

refactor(consensus): consolidate VSR types in binary_protocol (#3014)
  Cargo.lock
  core/binary_protocol/src/consensus/message.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/lib.rs
  core/common/Cargo.toml
  core/common/src/lib.rs
  core/common/src/types/consensus/header.rs
  core/common/src/types/consensus/message.rs
  core/common/src/types/consensus/mod.rs
  core/common/src/types/mod.rs
  core/consensus/Cargo.toml
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/namespaced_pipeline.rs
  core/consensus/src/plane_helpers.rs
  core/message_bus/Cargo.toml
  core/message_bus/src/lib.rs
  core/metadata/Cargo.toml
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/mux.rs
  core/partitions/Cargo.toml
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/shard/Cargo.toml
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/Cargo.toml
  core/simulator/src/bus.rs
  core/simulator/src/client.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/main.rs
  core/simulator/src/network.rs
  core/simulator/src/packet.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci: split post-merge monolith and harden Codecov uploads (#3006)
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/coverage-baseline.yml
  .github/workflows/edge-release.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  codecov.yml
Due: none

feat(go): send SDK version in login request (#3025)
  foreign/go/internal/command/session.go
  foreign/go/internal/command/session_test.go
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

fix(security): replace SecretString with String for API response tokens (#3008)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  bdd/python/uv.lock
  core/binary_protocol/Cargo.toml
  core/cli/src/commands/binary_personal_access_tokens/create_personal_access_token.rs
  core/cli/src/commands/binary_system/login.rs
  core/common/Cargo.toml
  core/common/src/traits/binary_mapper.rs
  core/common/src/types/permissions/personal_access_token.rs
  core/common/src/types/user/user_identity_info.rs
  core/integration/tests/cli/personal_access_token/test_pat_login_options.rs
  core/integration/tests/data_integrity/verify_no_plaintext_credentials_on_disk.rs
  core/integration/tests/mcp/mod.rs
  core/integration/tests/server/scenarios/authentication_scenario.rs
  core/integration/tests/server/scenarios/cross_protocol_pat_scenario.rs
  core/integration/tests/server/scenarios/user_scenario.rs
  core/sdk/Cargo.toml
  core/sdk/src/http/http_client.rs
  core/server/src/http/mapper.rs
  core/server/src/http/personal_access_tokens.rs
  examples/python/uv.lock
  foreign/python/Cargo.toml
Due: markdownlint, licenses-list, python-version-sync, taplo, cargo-fmt, cargo-sort, cargo-clippy

ci: allow `deps-dev` scope in PR title (#3035)
  .github/workflows/_common.yml
Due: none

feat(metadata): Persistent WAL journal with recovery and compaction (#2916)
  Cargo.lock
  core/journal/Cargo.toml
  core/journal/src/file_storage.rs
  core/journal/src/lib.rs
  core/journal/src/metadata_journal.rs
  core/metadata/Cargo.toml
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/mod.rs
  core/metadata/src/impls/recovery.rs
  core/metadata/src/stm/snapshot.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/log.rs
  core/simulator/src/deps.rs
  core/simulator/src/replica.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(java): Support connection timeout (#3026)
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
Due: java-gradle-check

ci: add Helm chart validation (#3019)
  .github/actions/utils/setup-helm-tools/action.yml
  .github/config/components.yml
  .github/workflows/_test.yml
  helm/charts/iggy/README.md
  helm/charts/iggy/templates/hpa.yaml
  helm/charts/iggy/templates/ingress.yaml
  scripts/ci/setup-helm-smoke-cluster.sh
  scripts/ci/setup-helm-tools.sh
  scripts/ci/test-helm.sh
Due: markdownlint

fix(go): correct Permissions serialization and add unit tests (#3015)
  foreign/go/contracts/users.go
  foreign/go/contracts/users_test.go
Due: go-fmt, go-mod-tidy, golangci-lint-foreign

feat(cli): Add context create/delete CLI commands to complete login/logout workflow (#2998)
  Cargo.lock
  core/cli/Cargo.toml
  core/cli/src/args/context.rs
  core/cli/src/commands/binary_context/common.rs
  core/cli/src/commands/binary_context/create_context.rs
  core/cli/src/commands/binary_context/delete_context.rs
  core/cli/src/commands/binary_context/mod.rs
  core/cli/src/main.rs
  core/integration/tests/cli/context/common.rs
  core/integration/tests/cli/context/mod.rs
  core/integration/tests/cli/context/test_context_applied.rs
  core/integration/tests/cli/context/test_context_create_command.rs
  core/integration/tests/cli/context/test_context_delete_command.rs
  core/integration/tests/cli/context/test_context_list_command.rs
  core/integration/tests/cli/context/test_context_use_command.rs
Due: licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

fix(test): remove race condition in postgres source mark test (#3052)
  core/integration/tests/connectors/postgres/postgres_source.rs
Due: cargo-fmt, cargo-clippy

fix: stats semver wire alignment using a zero sentinel (#3036)
  core/binary_protocol/src/responses/system/get_stats.rs
Due: cargo-fmt, cargo-clippy

fix(test): remove racy assertion in postgres source delete_after_read test (#3064)
  core/integration/tests/connectors/postgres/postgres_source.rs
Due: cargo-fmt, cargo-clippy

feat(connectors): implement InfluxDB Sink and Source (#2933)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/connectors/runtime/example_config/connectors/influxdb_sink.toml
  core/connectors/runtime/example_config/connectors/influxdb_source.toml
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/src/retry.rs
  core/connectors/sinks/influxdb_sink/Cargo.toml
  core/connectors/sinks/influxdb_sink/config.toml
  core/connectors/sinks/influxdb_sink/src/lib.rs
  core/connectors/sources/influxdb_source/Cargo.toml
  core/connectors/sources/influxdb_source/config.toml
  core/connectors/sources/influxdb_source/src/lib.rs
  core/harness_derive/src/codegen.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/influxdb/container.rs
  core/integration/tests/connectors/fixtures/influxdb/mod.rs
  core/integration/tests/connectors/fixtures/influxdb/sink.rs
  core/integration/tests/connectors/fixtures/influxdb/source.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/influxdb/docker-compose.yml
  core/integration/tests/connectors/influxdb/influxdb_sink.rs
  core/integration/tests/connectors/influxdb/influxdb_sink_formats.rs
  core/integration/tests/connectors/influxdb/influxdb_source.rs
  core/integration/tests/connectors/influxdb/influxdb_source_formats.rs
  core/integration/tests/connectors/influxdb/mod.rs
  core/integration/tests/connectors/influxdb/sink.toml
  core/integration/tests/connectors/influxdb/sink_base64.toml
  core/integration/tests/connectors/influxdb/sink_no_metadata.toml
  core/integration/tests/connectors/influxdb/sink_text.toml
  core/integration/tests/connectors/influxdb/source.toml
  core/integration/tests/connectors/influxdb/source_raw.toml
  core/integration/tests/connectors/influxdb/source_text.toml
  core/integration/tests/connectors/influxdb_sink.toml
  core/integration/tests/connectors/influxdb_source.toml
  core/integration/tests/connectors/mod.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(cpp): Add functions related to consumer groups (#2988)
  foreign/cpp/BUILD.bazel
  foreign/cpp/Cargo.toml
  foreign/cpp/build.rs
  foreign/cpp/src/client.rs
  foreign/cpp/src/consumer_group.rs
  foreign/cpp/src/identifier.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/stream.rs
  foreign/cpp/src/topic.rs
  foreign/cpp/tests/client/low_level_e2e.cpp
  foreign/cpp/tests/common/test_helpers.hpp
  foreign/cpp/tests/consumer_group/low_level_e2e.cpp
  foreign/cpp/tests/identifier/unit_tests.cpp
  foreign/cpp/tests/partition/low_level_e2e.cpp
  foreign/cpp/tests/stream/low_level_e2e.cpp
  foreign/cpp/tests/topic/low_level_e2e.cpp
Due: taplo, cargo-fmt, cargo-sort, cargo-clippy

feat(connectors): add generic HTTP sink connector (#2925)
  .typos.toml
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/connectors/sdk/src/convert.rs
  core/connectors/sdk/src/lib.rs
  core/connectors/sinks/elasticsearch_sink/src/lib.rs
  core/connectors/sinks/http_sink/Cargo.toml
  core/connectors/sinks/http_sink/README.md
  core/connectors/sinks/http_sink/config.toml
  core/connectors/sinks/http_sink/src/lib.rs
  core/integration/src/harness/seeds.rs
  core/integration/tests/connectors/fixtures/http/container.rs
  core/integration/tests/connectors/fixtures/http/mod.rs
  core/integration/tests/connectors/fixtures/http/sink.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/http/http_sink.rs
  core/integration/tests/connectors/http/mod.rs
  core/integration/tests/connectors/http/sink.toml
  core/integration/tests/connectors/http/wiremock/mappings/accept-ingest.json
  core/integration/tests/connectors/mod.rs
Due: markdownlint, licenses-list, taplo, cargo-fmt, cargo-sort, cargo-clippy

chore(repo): update connectors versions and readme (#3066)
  Cargo.lock
  DEPENDENCIES.md
  README.md
  assets/vsr.pdf
  core/connectors/sinks/http_sink/Cargo.toml
  core/connectors/sinks/influxdb_sink/Cargo.toml
  core/connectors/sources/influxdb_source/Cargo.toml
  foreign/go/README.md
  scripts/ci/trailing-whitespace.sh
Due: markdownlint, licenses-list, taplo, cargo-sort

feat(ci): add version bump tooling and consistency checks (#2990)
  .github/workflows/_common.yml
  .pre-commit-config.yaml
  scripts/bump-version.sh
  scripts/ci/python-sdk-version-sync.sh
  scripts/ci/shellcheck.sh
  scripts/extract-version.sh
Due: none

feat(simulator): wire Network into tick loop with per-replica outboxes and replica_crash (#3049)
  core/shard/src/lib.rs
  core/simulator/src/bus.rs
  core/simulator/src/lib.rs
  core/simulator/src/main.rs
  core/simulator/src/network.rs
  core/simulator/src/packet.rs
  core/simulator/src/replica.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  licenses-list: any of: ^Cargo\.lock$
  rust-version-sync: any of: ^rust-toolchain\.toml$
  python-version-sync: any of: ^foreign/python/(Cargo\.toml|pyproject\.toml)$
  taplo: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-sort: any of: (^|/)Cargo\.toml$
  cargo-clippy: any of: \.rs$
  go-fmt: any of: ^(foreign|bdd|examples)/go/.*\.go$
  go-mod-tidy: any of: ^(foreign|bdd|examples)/go/(.*\.go|go\.mod|go\.sum)$
  golangci-lint-foreign: any of: ^foreign/go/.*\.go$
  golangci-lint-bdd: any of: ^bdd/go/.*\.go$
  golangci-lint-examples: any of: ^examples/go/.*\.go$
  node-eslint: any of: ^(foreign|examples)/node/.*\.ts$
  web-lint: any of: ^web/.*\.(ts|js|svelte)$
  java-gradle-check: any of: ^(foreign|bdd|examples)/java/.*\.(java|kt|kts)$
  csharp-dotnet-format: any of: ^(foreign|examples)/csharp/.*\.cs$
